<table style="border: 1px solid;">
  <tr>
    <th style="border: 1px solid;">Usuario</th>
    <th style="border: 1px solid;">Email</th>
    <th style="border: 1px solid;">Fecha de alta</th>
    <th style="border: 1px solid;">&Uacute;ltimo login</th>
  </tr>
  
  <tr>
    <td style="border: 1px solid;">admin</td>
    <td style="border: 1px solid;">alex@fossworld.net</td>
    <td style="border: 1px solid;">14/02/2011</td>
    <td style="border: 1px solid;">24/04/2013 - 12:04</td>
  </tr>
  
</table>

