.comentarios_anidados {
    border-top: none !important;
}

a.submenu_parent:hover {
    cursor: default;
}

.comentario .avatar{
    width:40%;
}

.seccion_eventos .listado_breves li {
    height: 60px;
}

.contenido_subhome .destacado_principal .destacado_meta.link {
    padding-left:263px !important;
}

.contenido_subhome .destacado_principal .destacado_meta.file {
    padding-left:263px !important;
}

.contenido_subhome .destacado_principal .destacado_meta.video {
    padding-left:0px !important;
}

#cboxClose {
    right: 1.5em;
}

.message {    
    color: #C70063;
    font-family: StagSansBook,arial,sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    padding: 0 0 0.3em 36px;
}
