/**
* Stylish Select 0.4.5 - $ plugin to replace a select drop down box with a stylable unordered list
* http://scottdarby.com/
* 
* Copyright (c) 2009 Scott Darby
* 
* Requires: jQuery 1.3 or newer
* 
* Dual licensed under the MIT and GPL licenses.
*/

/**
* Hide lists on page load
---------------------------------------------------------*/

.stylish-select .SSContainerDivWrapper {
	left:-9999px;
}

/*
* Red example
---------------------------------------------------------*/
.stylish-select .SSContainerDivWrapper {
	margin:0;
	padding:0;
	width:586px;
	position:absolute;
	top:26px;
	left:0;
	z-index:2;
	border-top: 0 none;
	border-left: 0 none;
}

.stylish-select ul.newList {
	margin:0;
	padding:0;
	list-style:none;
	color:#000;
	background:#fff;
	border:1px solid #ccc;
	overflow:auto;
	border-top: 0 none;
	border-left: 0 none;
}

.stylish-select ul.newList * {
	margin:0;
	padding:0;
	background:url(../img/back-bg.png) repeat-y 0 0;
	/*height: 23px;*/
}

.stylish-select ul.newList li:first-child a {
	padding-top: 15px;
}

.stylish-select ul.newList a {
	color:#7a7d7d;
	text-decoration:none;
	display:block;
	padding:8px 8px;
}

.stylish-select .newListSelected {
	width:580px;
	color:#000;
	height:20px;
	padding:7px 0 0 10px;
	float:left;
	background:url(../img/select-bg.png) no-repeat;
}

.stylish-select ul.newList li a:focus {
	-moz-outline-style: none;
	/*background:#004d95!important;*/
}

.stylish-select .selectedTxt {
	width:580px;
	overflow:hidden;
	height:20px;
	padding:0 23px 0 0;
	color:#7a7d7d;
}

/*.stylish-select .hiLite {
	background:#004d95!important;
	color:#fff!important;
}*/

.stylish-select .newListHover {
	background:#004d95!important;
	color:#FFF!important;
	cursor:default;
}

.stylish-select ul.newList li:first-child:hover .newListHover {
	background:url(../img/back_bar_1.png)!important;
        /*background-position:0px 10px;*/
	color:#FFF!important;
	cursor:default;
}

.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
	background-position:0 -27px;
	cursor:default;
}

.stylish-select .newListOptionTitle {
	font-weight:bold;
}

.stylish-select .newListOptionTitle ul {
	margin:3px 0 0;
}

.stylish-select .newListOptionTitle li {
	font-weight:normal;
	border-left:1px solid #ccc;
}
