{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="/static/css/extra-admin.css" />{% endblock %}

{% block title %}{{ title }} | Administración de Family Wealth{% endblock %}

{% block branding %}
<h1 id="site-name">Administración de Family Wealth</h1>
{% endblock %}

{% block nav-global %}
    <ul class='admin-menu'>
        <li>
            <a href='{% url admin:index %}'>Inicio</a>
        </li>
        <li style="width:128px;">
            <a href='{% url inform %}'>Informe del portal</a>
        </li>
        <li>
            <a href='/informe_last_login'>Informes diarios last login</a>
        </li>
    </ul>
    <br />
    <br />
{% endblock %}
