{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}
    <div class="contenido seccion_avisolegal">
        <div class="col_principal">
            <div class="pre_home_cont">
                <h2>Error, página no encontrada.</h2>                
            </div>
        </div>
    </div>
{% endblock%}
