{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}
    <div class="contenido seccion_avisolegal">
        <div class="col_principal">
            <div class="pre_home_cont">
                <h2>Aviso Legal</h2>
                <p>La información, documentación o contenidos a los que va a tener acceso a través de esta web se suministra solo con fines informativos y no constituye ni puede interpretarse como una oferta, invitación o incitación para la venta, compra o suscripción de valores, productos o servicios financieros, ni su contenido constituirá base de ningún contrato, compromiso o decisión de cualquier tipo que en su caso, habrán de regirse por los correspondientes pactos  suscritos al efecto entre las partes. BBVA no se hace responsable de las opiniones, estimaciones, predicciones, recomendaciones o estrategias que se expresan a través de esta web, las cuáles pudieran sufrir cambios como consecuencia de distintas circunstancias, sin que BBVA u otras fuentes se obliguen a revisarlas y difundirlas en el caso que se produzcan cambios de estrategia, de intenciones o de acontecimientos no previstos que puedan afectar a las mismas.</p>
                <p>Los servicios, productos, opiniones, predicciones, estimaciones, estrategias, tipología de valores, instrumentos o inversiones que pueda contener la presente documentación en ningún caso conllevan que se esté prestando asesoramiento jurídico, contable o fiscal alguno y  pueden no ser adecuadas para los inversores por razón de su especifica posición jurídica o financiera, su perfil de riesgo u objetivos de inversión, ya que no han sido tomadas en consideración sus circunstancias personales, por lo que debe adoptar sus propias decisiones de inversión teniendo en cuenta dichas circunstancias y procurándose el asesoramiento específico y especializado que pueda ser necesario. BBVA no asume responsabilidad alguna por cualquier pérdida, directa o indirecta, que pudiera resultar del uso de la información contenida en la presente web, ni se hace responsable del contenido de la información  elaborada por terceros ni de las consecuencias del uso que pudiera hacerse de ellas.</p>
                <p>Ninguna parte de los contenidos suministrados a través de la presente web puede ser (i) copiado, grabado o duplicado en ningún modo, forma o medio, (ii) redistribuido, (iii) divulgado, citado, comunicado (iv) ni entregado a ninguna otra persona o entidad sin la autorización de su autor o responsable de la información.</p>
                <p>Con el acceso a la web Usted acepta las advertencias y condiciones anteriormente  expresadas. </p>
            </div>
        </div>
    </div>
{% endblock%}
