{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}
    <div class="contenido seccion_avisolegal">
        <div class="col_principal">
            <div class="pre_home_cont">
                <h2>Sobre Family Wealth</h2>
                <h2>Filosofía de la Comunidad</h2>
                <p>Family Wealth es una Comunidad interactiva, pionera y exclusiva para clientes de Banca Privada de BBVA. En ella podrá compartir temas de interés y debates con especialistas en cada materia y con otras personas que pueden tener sus mismas inquietudes, necesidades e intereses, con la intención de convertirse en un foro y punto de encuentro de los mismos. Se tratarán temas muy diversos, tanto relacionados con la actualidad en los mercados macroeconómicos, financieros, bursátiles, inmobiliarios, de inversiones alternativas, qué piensan los principales gurús, así como novedades jurídico-fiscales, de empresa familiar o de carácter tecnológico.<p>
                <h2>Conózcanos</h2>
                <p>Esta Comunidad está promovida y desarrollada por el departamento de Family Office de BBVA Patrimonios, el segmento más alto de Banca Privada de BBVA. Sus especialistas propondrán temas de interés, además de dar entrada a otros expertos en materias diversas, tanto de BBVA, como de despachos de abogados, o de otros ámbitos relevantes. Asimismo, cabe destacar la joint venture con una de las principales escuelas de negocios, de carácter internacional, cuya Cátedra de Empresa Familiar es la más reputada en España y permitirá profundizar en este ámbito. <p>
                <h2>Interactúe</h2>
                <p>La vocación de esta Comunidad no es sólo tratar temas de interés para la tipología de usuarios que tendrán acceso a la misma, sino también generar un debate y un diálogo multilateral, para que entre todos podamos intercambiar experiencias y aprender de cada tema. Asimismo, para profundizar en aquellos aspectos que sean especialmente relevantes, se celebrarán periódicamente eventos presenciales, que podrá ver en la agenda de la Comunidad, y a los que está invitado a asistir, si así lo desea.<p>                
            </div>
        </div>
    </div>
{% endblock%}
