{% extends "base.html" %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}

<div class="contenido col_2">
    <div class="col_principal">
        <div class="pre_home_cont">
            <p>The Family Wealth Community es la primera web donde seleccionamos los temas que le interesan, le ofrecemos un análisis de los mejores expertos y donde podrá compartir experiencias con gente como usted.</p>
            {% block activation_block %}
            {% endblock%}
            <p>Si es cliente de BBVA y no tiene acceso a The Family Wealth Community, puede solicitar información a su asesor o a través del buzón <a href="mailto:bbvafamilywealth@bbva.com">bbvafamilywealth@bbva.com</a></p>
        </div>
    </div>
    <div class="col_secundaria">
        {% block right_auth_content%}
        {% endblock %}
    </div>
</div>

{% endblock %}
