{% load i18n %}
{% load fw_helper %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    {% include "head.html" %}
</head>
<body>
	<div id="global" class="{% block estra_global_classes%} {% endblock %}">
		<div class="cuerpocentral">
			<div id="cabecera">
				<h1>
					<a href="{% url home %}" class="logo"><img src="/static/img/bbva_logo.gif" alt="BBVA" /></a>
					<a href="{% url home %}" class="titulo">The Family Wealth Community</a>
					<!--<span>Esta red es su patrimonio</span>
					<span>Un espacio promovido por <strong>BBVA</strong></span>-->
				</h1>
                {% block toplinks %}
                    <ul class="utils">
                        {% if not user.is_anonymous %}
                            <li><a href="{% url profile-favourites %}">{{user|friendly_username}}</a></li>                    
                            <li class="last"><a href="{% url logout %}">Salir</a></li>
                        {% endif %}
                    </ul>
                {% endblock %}
			</div>
            
            {% block topmenu %}            
                {% if user.is_authenticated %}
                    <div id="menu">
                        <div class="menu_cont">
                            <ul>                        
                                <li {% ifequal section 'home' %}class="activo"{% endifequal %}>
                                    <a href="{% url home %}">Seleccionados hoy</a>
                                </li>
                                <li {% ifequal section 'topics' %}class="activo"{% endifequal %}>
                                    <a class="submenu_parent" href="#">Temas</a>
                                    {% display_categories_menu %}
                                </li>
                                <li {% ifequal section 'discussions' %}class="activo"{% endifequal %}>
                                    <a href="{% url discussions %}">Debates</a>
                                </li>

                                <li {% ifequal section 'events' %}class="activo"{% endifequal %}>
                                    <a href="{% url events %}">Eventos</a>
                                </li>
                                <li {% ifequal section 'speak' %}class="activo"{% endifequal %}>
                                    <a href="{% url speak %}">¿Hablamos?</a>
                                </li>
                            </ul>
                            <form class="buscador" method="GET" action="{% url search %}">
                                <fieldset>
                                    <label for="" class="oculto">Buscar</label>
                                    <input type="text" name="search" id="search" class="input_buscar" value="Buscar" /><input type="image" src="/static/img/buscar_btn.gif" alt="Enviar" />
                                </fieldset>
                            </form>
                            
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            {% if messages %}
            <div class="modulo">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block main_top %}
            
            {% endblock %}

		</div><!--cuerpo_central-->
	</div><!--global-->
	<div class="pie">
		<p>&copy; 2011 BBVA. Todos los derechos reservados.</p>
		<ul>
			<li><a href="http://familybusiness.iese.edu/" target="_blank">IESE</a></li>
			<li><a href="{% url contact %}">Contacto</a></li>
			<li><a href="{% url about %}">Sobre Family Wealth</a></li>
			<li><a href="{% url legal %}">Aviso legal</a></li>
			<li class="last"><a href="{% url conditions %}">Condiciones del servicio</a></li>
		</ul>
	</div>
</body>
</html>

