{% extends "home.html" %}
{% load i18n %}
{% load tagging_tags %}
{% load fw_helper %}

{% block main_top %}
    <div class="contenido contenido_subhome seccion_categoria">
        <div class="destacado destacado_principal">
        
            <h2 class="categoria_tit">{{category.title}}</h2>
            
            {% if articles.0 %}            
                <h3 class="destacado_titulo"><a href="{{ articles.0|url_for_type }}"><strong>{{ articles.0 }}</strong></a></h3>
                <div class="foto">
                    <img alt="Descripcion" src="{{articles.0|friendly_content_image}}">
                </div>
                <div class="destacado_cont">
                    <p class="fecha">{{ articles.0.creation_date }}</p>
                    <p>
                    {% autoescape off %}{{ articles.0.short_description|linebreaksbr }}{% endautoescape %}
                    </p>
                    
                </div>
                <div class="destacado_meta">
                    <p class="avatar">
                        <img img width="41" height="41" alt="{{articles.0.creator|friendly_username}}" src="{{articles.0.creator|friendly_avatar }}">
                        <span class="usuario">{{articles.0.creator|friendly_username}}</span>
                        <em>{{articles.0.creator.position}}</em>
                    </p>
                    <dl class="meta_info">
                    
                        {% if articles.0.category %}
                            <dt>Tema:</dt>
                            <dd><a href="{% url category articles.0.category.slug %}">{{articles.0.category}}</a></dd>
                        {% endif %}
                        
                        {% tags_for_object articles.0 as tag_list %}
                        {% if tag_list %}
                            <dt>Etiquetas:</dt>
                            <dd>
                                {% for tag in tag_list %}
                                    <a href="{% url search-tag tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}                                            
                                {% endfor %}                        
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            {% endif %}
        </div>
        <div class="debates destacado_relacionada debates_relacionados">
            <div class="pestanero">
                <ul>
                    <li class="first"><a href="#tabs-1">Más comentados</a></li>
                    <li class="tab_central"><a href="#tabs-2">Más valorados</a></li>
                    <li><a href="#tabs-3">Favoritos</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="listado_breves">
                        <ul>
                            {% for article in comments_order|slice:":4" %}
                            <li>
                                <a href="{{article|url_for_type}}"><img alt="{{article.title}}" width="76" src="{{article|friendly_content_miniature}}"></a>
                                <em class="fecha">{{ article.creation_date }}</em>
                                <a href="{{article|url_for_type}}"><strong>{{ article.title|slice:":50" }}{% if article.title|length > 50%}...{%endif%}</strong></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="listado_breves">
                        <ul>
                            {% for article in valorations_order|slice:":4" %}
                            <li>
                                <a href="{{article|url_for_type}}"><img alt="{{article.title}}" width="76" src="{{article|friendly_content_miniature}}"></a>
                                <em class="fecha">{{ article.creation_date }}</em>
                                <a href="{{article|url_for_type}}"><strong>{{ article.title|slice:":50" }}{% if article.title|length > 50%}...{%endif%}</strong></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="listado_breves">
                        <ul>
                            {% for article in favourites_order|slice:":4" %}
                            <li>
                                <a href="{{article|url_for_type}}"><img alt="{{article.title}}" width="76" src="{{article|friendly_content_miniature}}"></a>
                                <em class="fecha">{{ article.creation_date }}</em>
                                <a href="{{article|url_for_type}}"><strong>{{ article.title|slice:":50" }}{% if article.title|length > 50%}...{%endif%}</strong></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            
        </div>
    </div><!--contenido_subhome-->
    <div class="contenido seccion_subhome seccion_eventos seccion_categoria_cont">
        <div class="seccion_subhome_cont">
            {% for month_articles in articles_by_month%}
                <div class="modulo eventos">
                    <h4 class="modulo_titulo"><strong>{% trans month_articles.month_year.0|capfirst %}</strong> {{month_articles.month_year.1}}</h4>
                    <div class="modulo_cont">
                        <div class="listado_breves">
                            <ul>
                                {% for article in month_articles.articles.all %}
                                    <li>
                                        <a href="{{article|url_for_type}}">
                                            <img width="76" src="{{ article|friendly_content_miniature}}" alt="Descripcion">
                                        </a>
                                        <em class="fecha">{{ article.creation_date }}</em>
                                        <a href="{{article|url_for_type}}">
                                            <strong>
                                                {{ article.title|slice:":50" }}{% if article.title|length > 50%}...{%endif%}
                                            </strong>
                                        </a>                            
                                    </li>
                                {% endfor %}                                                        
                            </ul>
                        </div>
                    </div>
                </div><!--modulo-->
            {% endfor %}

            {% if has_more %}
                <p class="articulos_ant"><a href="{% url ajax-list-categories category.slug %}" class="categoria_anteriores">Meses anteriores</a></p>
            {% endif %}
            
        </div><!--seccion_eventos_cont-->
    </div>

{% endblock%}
