{% load i18n %}
{% load fw_helper %}

 
<div class="col_principal">
    <h4 class="num_comentarios">
        {% blocktrans count comments_structure|length as num_comments %}  Se ha publicado {{ num_comments }} comentario sobre este artículo {% plural %} Se han publicado {{ num_comments }} comentarios sobre este artículo {% endblocktrans %}    
    </h4>

    {% for comment_and_parents in comments_structure %}
        <div class="comentario {{ forloop.counter|extra_comment_class}}">
            {% for parent in comment_and_parents.0|slice:"1:" %}
                <div class="comentarios_anidados">
            {% endfor %}
            <div class="comentario_cont">
                <p class="autor">
                    <a name="{{comment_and_parents.1.id}}"></a>
                    <strong>{{ comment_and_parents.1.user|friendly_username }},</strong> {{comment_and_parents.1.user.position}}
                </p>
                <ul class="avatar">
                    {%if comment_and_parents.1.user.is_iese_user %}
                        <li><img src="/static/img/logo_iese.jpg" alt="" /></li>
                    {% endif %}
                    {%if comment_and_parents.1.user.is_bbva_user %}
                        <li><img src="/static/img/logo_bbva.jpg" alt="" /></li>
                    {% endif %}
                    {% if comment_and_parents.1.user.image %}
                        <li><img  height="32" src="{{comment_and_parents.1.user|friendly_avatar}}" alt="" /></li>
                    {% endif %}
                </ul>
                <p class="fecha">{{ comment_and_parents.1.creation_date }}</p>
                <div class="comentario_texto">
                    <p>{{comment_and_parents.1.text}}</p>
                    {% if can_comment %}
                        <p class="botonera"><a class="respondermensaje" href="#">Responder a este mensaje</a></p>
                    {% endif %}
                </div>
                
            </div>

            <div class="comentarios_anidados">
                <div class="comentario_escribir" style="display: none;">
                    <div class="comentario_cont">
                        <p class="titulo"><img height="32" src="{{user|friendly_avatar}}" alt="{{user|friendly_username}}" /> Escriba un comentario</p>
                        <p class="autor"><strong>{{user|friendly_username}},</strong> {{user.position}}</p>
                        <p class="fecha">{{today.date}}</p>
                        <form method="POST" name="comentarios" action="{% url add-comment content.slug comment_and_parents.1.id %}">
                            <fieldset>
                                {% csrf_token %}
                                <label for="text" class="oculto">Escriba su comentario</label>
                                <textarea name="text" id="text" rows="5" cols="50"></textarea>
                                {% if show_receive_notifications %}
                                <p class="email">
                                    <label for="receive_notifications">
                                        <input type="checkbox" name="receive_notifications" id="receive_notifications" /> 
                                        Recibir un email cuando alguien publique un nuevo comentario
                                    </label>
                                </p>
                                {% endif %}
                                <p class="botonera"><input type="submit" value="Comentar" /></p>
                                <input type="hidden" value="{{comment_and_parents.1.id}}" name="parent_id">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>            
            {% for parent in comment_and_parents.0|slice:"1:" %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}            
    
    {% if can_comment %}
        <div class="comentario_escribir">
            <div class="comentario_cont">
                <a name="comment"></a>
                <p class="titulo"><img height="32" src="{{user|friendly_avatar}}" alt="{{user|friendly_username}}" /> Escriba un comentario</p>
                <p class="autor"><strong>{{user|friendly_username}},</strong> {{user.position}}</p>
                <p class="fecha">{{today.date}}</p>
                <form method="POST" name="comentarios" action="{% url add-comment content.slug %}">
                    <fieldset>
                        {% csrf_token %}
                        <label for="text" class="oculto">Escriba su comentario</label>
                        <textarea name="text" id="text" rows="5" cols="50"></textarea>
                        {% if show_receive_notifications %}
                   <p class="email">
                                <label for="receive_notifications">
                                    <input type="checkbox" name="receive_notifications" id="receive_notifications" /> 
                                    Recibir un email cuando alguien publique un nuevo comentario
                                </label>
                            </p>                    
                        {% endif %}
                        <p class="botonera"><input type="submit" value="Comentar" /></p>
                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}
</div>
