{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}
    <div class="contenido seccion_avisolegal">
        <div class="col_principal">
            <div class="pre_home_cont">

                <h2>Condiciones de utilización del web</h2>

                <h2>1. Objeto</h2>

                <p>BANCO BILBAO VIZCAYA ARGENTARIA S.A. (en adelante BBVA) ofrece a través de este Portal de acceso restringido información relacionada con todo tipo de inversiones,  mercados, activos y en términos generales, información de toda índole de interés para sus usuarios, los cuáles tendrán que registrarse para acceder a la misma (en adelante, el Servicio) previa invitación de BBVA que a tal fin suministrará a aquellas personas que libremente designe un código de acceso o activación inicial.</p>

                <p>La utilización del Portal tiene carácter personal e intransferible para los usuarios (el/los Usuario/s) del mismo quienes se obligan al cumplimiento de las presentes condiciones generales de uso (en adelante, Condiciones de Uso) y el Aviso Legal. El acceso y utilización del Portal implican la plena aceptación de dichas condiciones por parte de los Usuarios.</p>

                <h2>2. Adhesión al Servicio</h2>

                <p>BBVA tendrá la potestad para autorizar a las personas que libremente designe el acceso y utilización del Servicio, a tal fin BBVA les suministrará un código de acceso o activación inicial. 

                <p>Cuando un Usuario acceda  por primera vez, se le solicitará designe un nombre de Usuario, contraseña y dirección de correo electrónico. Su registro en el Servicio se producirá una vez haya  introducido los referidos datos configurándose como Usuario registrado desde ese mismo momento. El usuario es responsable de mantener en secreto la contraseña de acceso, así como notificar a BBVA el conocimiento indebido de la misma por terceros.</p>

                <p>No podrán utilizar el Servicio los menores de edad así como aquellas personas físicas en las que no concurra, de conformidad con la normativa aplicable, capacidad de obrar suficiente para ser titular de los derechos y obligaciones dimanantes de la adhesión a las presentes Condiciones Generales.</p>

                <p>El Servicio se entiende prestado en territorio español.</p>

                <h2>3. Características del Servicio</h2>

                <p>Los Usuarios podrán, con sujeción en su caso a los términos y condiciones establecidos por los titulares de los contenidos o enlaces recogidos en cada una de las secciones del Portal:</p>

                <p>i. Realizar comentarios y sugerencias relativas a los contenidos de la web</p>
                <p>ii. Participar en debates, en los que podrán intercambiar información, comentarios y opiniones con otros usuarios y con los especialistas, dentro del marco del contenido del Portal</p>
                <p>iii. Participar en eventos que se desarrollen en la web, además de aquéllos que se realicen de forma presencial</p>
                <p>iv. Realizar valoraciones y comentarios dentro de las secciones</p>
                <p>v. Contactar con especialistas y administradores de la web</p>
                <p>vi. Proponer temas para contenidos, debates y eventos</p>
                <p>vii. Incorporar enlaces a blogs o páginas web públicas, entendiéndose a estos efectos aquéllos que sean accesibles por cualquier usuario de Internet y que no exijan ningún registro y/o aceptación de condiciones de uso</p>
                
                <h2>4. Uso del Servicio y obligaciones de los Usuarios</h2>

                <p>En la utilización del Servicio del Portal, los Usuarios se comprometen a respetar las disposiciones legales en materia de contratación, los derechos de terceros, el Aviso Legal que se incluye en el Portal, los términos y condiciones recogidos en su caso en cada una de las secciones del Portal y estas Condiciones de Uso, así como las siguientes obligaciones:</p>

                <p>a) Cuando el Usuario registrado envíe información de cualquier tipo, deberá aceptar y garantizar que dicho contenido no infringe ningún derecho de propiedad industrial y/o intelectual.</p>
                
                <p>b) No podrán incluirse comentarios, opiniones, enlaces a blogs públicos o vínculos, que incluyan contenidos referidos a confesiones religiosas o ideas políticas (incluidas declaraciones y símbolos de partidos políticos y organizaciones religiosas), ni antisociales, ni ofensivos a valores culturales o religiosos, provocativos, despectivos, violentos, obscenos, sexuales y/o de grupos que no son socialmente aceptables o ilegales, así como cualquier otro que pueda herir la sensibilidad de terceras personas, vulnerar los derechos fundamentales y las libertades públicas reconocidas por la normativa aplicable y/o los establecidos en la legislación sobre derechos de los consumidores y usuarios, sobre la protección de la infancia y de la juventud, constituir o suponer una intromisión en la intimidad personal o familiar de las personas físicas o violación del derecho al honor de terceros o del secreto de las comunicaciones. Las responsabilidades derivadas de las manifestaciones difundidas en la página web, corresponde exclusivamente a quién las realiza. A tal efecto, BBVA se reserva el derecho a eliminar todo tipo de comentarios, contenidos, enlaces o cualquier manifestación efectuada por un Usuario que incurra en los supuestos descritos en este apartado.</p>  

                <p>c) Los comentarios y opiniones vertidas por los Usuarios, así como los enlaces a blogs suministrados por los mismos o contenidos con vínculos, referidos a: i) fotografías, números de teléfono, URL’s, domicilios, direcciones de correo electrónico, nombres y apellidos, y cualquier otro dato de personas físicas, ii) denominaciones o nombres comerciales de empresas, marcas, logos, logotipos, signos distintivos, anagramas, denominaciones, eslóganes, publicidad, material promocional, declaraciones sobre la autenticidad, marcas olímpicas y similares, y iii) imágenes, música, videos, textos, objetos o cualesquiera otros productos o soportes sujetos a derechos de difusión o reproducción (copyright) o protegidos por derechos de autor; queda condicionada a que el Usuario correspondiente ostente legitimación suficiente para que el contenido pueda ser utilizado tanto por él mismo como por el resto de Usuarios en los términos previstos en las presentes condiciones así como para que dicha utilización no vulnere ninguna previsión legal, contrato, derecho o propiedad de terceros, ni de ningún modo constituya competencia desleal.</p>

                <p>En consecuencia por el hecho de incluir alguno de los contenidos anteriores, se entenderá que el Usuario que lo incluye cuenta con la referida legitimación. </p>

                <p>d) Los Usuarios no podrán enviar ni difundir en ningún caso, informaciones o contenidos que tengan la facultad de reducir, desorganizar o impedir el uso normal del Servicio. </p>

                <p>e) Los Usuarios como miembros de la Comunidad BBVA FAMILY WEALTH autorizan a BBVA para que pueda remitirles con carácter periódico a la dirección de correo electrónico suministrada, una newsletter o cualquier otra comunicación o publicación que estime de utilidad o interés para los miembros de la Comunidad.  </p> 

                <p>f) Las autorizaciones para la utilización de los contenidos previstos anteriormente son revocables en todo momento por los Usuarios, mediante comunicación a BBVA, pero dado que las mismas son imprescindibles para el funcionamiento del Servicio, dicha revocación supondrá la baja automática del Usuario correspondiente en el Portal.</p>
                
                <p>g) Los Usuarios podrán darse de baja voluntariamente en el Servicio, mediante el proceso habilitado al efecto en el propio Portal.</p>

                <p>h) BBVA podrá dar de baja al Usuario en el Servicio de forma inmediata en caso de incumplimiento por parte del Usuario de algunas de las previsiones establecidas en las presentes Condiciones de Uso, comunicando dicha baja a los Usuarios en los futuros intentos de acceso al Servicio que puedan realizar </p>

                <p>i) La baja en el Portal supondrá para el Usuario la imposibilidad de poder acceder al mismo y al Servicio en general y el borrado de todos sus comentarios y enlaces. </p>

                <p>j) BBVA, propietaria del Portal, no se hace responsable de los hechos susceptibles de generar responsabilidad ni de los contenidos u opiniones incorporadas por los Usuarios, siendo éstos los únicos responsables de la utilización que hagan del Portal y de los contenidos incorporados exonerándose consecuentemente BBVA de cualquier responsabilidad derivada de dicha utilización e incorporación. En consecuencia, BBVA no se responsabiliza del mal uso que se realice de esta página web o de sus contenidos, siendo de exclusiva responsabilidad de su autor.</p>

                <h2>5. Suspensión o supresión del Servicio</h2>

                <p>BBVA no será responsable de cualquier incumplimiento, modificación o suspensión del acceso al Portal, que tenga su origen en causas ajenas a su control razonable, ya sean éstas técnicas, de seguridad, control o cualquier otra causa justificada. Especialmente, BBVA no será responsable de las deficiencias en la disponibilidad de acceso o interconexión con websites de terceros o de la propia web, tales como, a título meramente enunciativo, alteraciones de especificaciones o estándares tecnológicos en los sistemas informáticos, de navegación por Internet y cualesquiera otras relacionadas con la comunicación, acceso, almacenamiento de datos o problemas de comunicaciones, siempre que tales deficiencias se produzcan por las citadas causas ajenas a su control razonable. </p>

                <p>BBVA se reserva el derecho a eliminar, limitar o impedir el acceso al Portal cuando surjan dificultades técnicas por hechos o circunstancias ajenos a BBVA que, a su juicio, disminuyan o anulen los niveles de seguridad estándares adoptados para el correcto funcionamiento del acceso al mismo. </p>

                <h2>6. Tratamiento de Datos Personales</h2>

                <p>6.1. Los datos personales facilitados por el Usuario a través del Servicio, ahora o en el futuro  serán registrados en ficheros titularidad de BBVA, debidamente inscritos en el Registro General de Protección de Datos. </p>

                <p>Dichos datos podrán ser utilizados por BBVA para la gestión y control del Servicio ofrecido a través del Portal.</p>

                <p>La autorización para dicha utilización es revocable en todo momento por los Usuarios, mediante comunicación a BBVA, pero dado que la misma es imprescindible para el funcionamiento del Servicio, dicha revocación supondrá la baja automática del Usuario correspondiente en el Servicio. </p>
                
                <p>6.2. El responsable del tratamiento es BANCO BILBAO VIZCAYA ARGENTARIA S.A. con domicilio social en Plaza San Nicolas número 4, 48005 Bilbao (Vizcaya), teléfono ......, e-mail de contacto: bbvafamilywealth@grupobbva.com, si bien el Usuario podrá ejercitar gratuitamente en dicho domicilio, los derechos de acceso, rectificación,  cancelación de datos y oposición.</p>

                <h2>7. Duración del Servicio</h2>

                <p>El Usuario podrá, en cualquier momento,  darse de baja del Servicio en Patrimonios Family Wealth. Por su parte, BBVA podrá cancelar el Servicio sin alegación de causa, previa comunicación al Usuario con una antelación de ......, a través de la dirección de correo electrónico facilitada por el Usuario en el alta del Servicio, sin perjuicio de la facultad prevista en el anterior cláusula 4, letra h). </p>

                <h2>8. Modificaciones</h2>

                <p>BBVA se reserva el derecho a modificar, de forma parcial o total, las presentes Condiciones  de Uso, así como a incluir otras nuevas, previa comunicación, a través del Portal, al Usuario con antelación razonable. Las nuevas condiciones se entenderán aceptadas por el Usuario si no las denuncia en el plazo de un (1) mes desde la comunicación. </p>

                <h2>9. Comunicaciones</h2>

                <p>Las comunicaciones de BBVA al Usuario se podrán realizar por correo electrónico remitido a las direcciones de correo electrónico facilitadas por el Usuario y/o a través del propio Portal. </p>

                <h2>10. Otras Condiciones</h2>

                <p>Se advierte expresamente por BBVA que las presentes Condiciones de Uso han sido redactadas previamente por la misma, por lo que aquellas que no recojan pactos de carácter financiero o que no vengan reguladas por una Disposición de carácter general o específico que las haga de aplicación obligatoria para los contratantes o que no hayan sido objeto de una negociación específica, se consideran condiciones generales de la contratación, dejando constancia el Usuario con BBVA de su aceptación expresa de las mismas y de su incorporación al contrato, de conformidad con la Ley 7/1998, de 13 de abril, sobre Condiciones Generales de Contratación.</p>

                <h2>11. Legislación y Jurisdicción</h2>

                <p>La legislación española es aplicable a las presentes Condiciones de Uso.
                El Usuario y BBVA convienen la sumisión expresa a los Juzgados y Tribunales de la capital de provincia correspondiente al domicilio del Usuario, con renuncia expresa a su propio fuero si lo tuvieren, para cuantas acciones y reclamaciones pudieran derivarse del presente contrato.</p>

            </div>
        </div>
    </div>
{% endblock%}
