{% extends "base.html" %}
{% load i18n %}
{% load tagging_tags %}
{% load fw_helper %}

{% block title %} {{ content.title }} {% endblock %}

{% block main_top %}

    {% block main_home%}
    <div class="contenido contenido_subhome">
        <div class="destacado destacado_principal {% block extra_destacado_class %} {% endblock %}">
            
            <h2 class="destacado_titulo">
                <a href="{{ content|url_for_type}}">
                    <strong>{{ content.title }}</strong>
                </a>
            </h2>
            {% block top_content %}
                <div class="foto">
                    <img src="{{ content|friendly_content_image }}" alt="Descripcion" />
                </div>
                <div class="destacado_cont">
                    <p class="fecha">{{ content.creation_date }}</p>
                    <p>{% autoescape off %}{{ content.long_description|linebreaksbr }}{% endautoescape %}</p>
                    
                </div>
                <div class="destacado_meta {{ content_type }}">
                    <p class="avatar">
                        <img width="41" height="41" src="{{content.creator|friendly_avatar}}" alt="{{ content.creator|friendly_username }}" />
                        <span class="usuario">{{ content.creator|friendly_username }}</span>
                        <em>{{ content.creator.position }}</em>
                    </p>
                    {% block specific_content %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
        <div class="destacado_meta destacado_relacionada">
            <dl class="meta_info">
                {% if content.category %}
                    <dt>Tema:</dt>
                    <dd><a href="{% url category content.category.slug %}">{{ content.category.title }}</a></dd>
                {% endif %}
                
                {% tags_for_object content as tag_list %}
                {% if tag_list %}
                    <dt>Etiquetas:</dt>
                    <dd>                    
                        
                        {% for tag in tag_list %}
                            <a href="{% url search-tag tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}                                            
                        {% endfor %}
                    </dd>
                {% endif %}
                
                {% if not content.id in favourite_ids %}                    
                    <dt>Favoritos:</dt>
                    <dd><a href="{% url add-favourite content.slug %}?csrftoken={{csrf_simple_token}}" class="anadir_fav">Guardar como favorito</a></dd>
                {% endif %}
                
                <dt>Valoración:</dt>                
                <dd>
                    <form name="frm_valoracion" action="" method="POST" id="frm_valoracion">
                        <input class="star" type="radio" name="test-1-rating-5" value="1" {% if valoration.value == 1%}checked="checked"{% endif %}/>
                        <input class="star" type="radio" name="test-1-rating-5" value="2" {% if valoration.value == 2%}checked="checked"{% endif %}/>
                        <input class="star" type="radio" name="test-1-rating-5" value="3" {% if valoration.value == 3%}checked="checked"{% endif %}/>
                        <input class="star" type="radio" name="test-1-rating-5" value="4" {% if valoration.value == 4%}checked="checked"{% endif %}/>

                        <input class="star" type="radio" name="test-1-rating-5" value="5" {% if valoration.value == 5%}checked="checked"{% endif %}/>
                        <script type="text/javascript">
                            /*Valoration - http://www.fyneworks.com/jquery/star-rating/ */
                            $('.star').rating({
                                callback: function(value, link){
                                    $.ajax({
                                        type: "POST",
                                        url: "/content/ajax/valoration/{{content.slug}}/"+value+"/", 
                                        data: {csrf: "{{csrf_simple_token}}" },
                                        success: function() {
                                            $('#frm_valoracion').append("<span id='mensajevotacion'></span>");
                                            $('#mensajevotacion').html("Voto enviado")
                                            .hide()
                                            .fadeIn(1000);
                                            $('.star').rating('disable') 
                                        }
                                    });
                                    return false;                             
                                    //insertar aquí el submit del formulario
                                }
                            });
                        </script>
                    </form>
                </dd>
                
                
                {% if related_items %}
                    <dt class="art_relacionados">
                        {% block texto_relacionados %}
                            Artículos relacionados:
                        {% endblock %}
                    </dt>
                    {% for related_item in related_items %}
                        <dd class="art_relacionados"><a href="{{ related_item|url_for_type }}">{{related_item.title}}</a></dd>
                    {% endfor %}
                {% endif %}

            </dl>
        </div>
    </div><!--contenido_subhome-->
    {% endblock %}
    
    {% block sub_home%}
        {% include "portlet_related_content.html" %} 
    {% endblock%}
    
    <div class="contenido col_2">
        {% include "comments.html" %}
        <div class="col_secundaria">
            {% include "right_column_news.html" %}        
            {% include "right_column_discussions.html" %}        
            {% include "right_column_news_external_resume.html" %}        
        </div>
    </div>
		
{% endblock %}
