{% extends "home.html" %}
{% load i18n %}
{% load fw_helper %}

{% block main_top %}

<div class="contenido contenido_subhome seccion_subhome seccion_eventos">
    <div class="destacado destacado_principal">
        <div class="foto">
            <img alt="Descripcion" src="{{ content|friendly_content_image }}">
        </div>
        <h2 class="destacado_titulo"><a href="{{content|url_for_type}}"><strong>{{ content.title }}</strong></a></h2>
        <div class="destacado_cont">
            <p>{% autoescape off %}{{ content.long_description|linebreaksbr }}{% endautoescape %}</p>
            <p class="fecha_evento"><strong>{{content.date}}. {{content.location}}</strong></p>
        </div>
                {% if content.file %}                                                      
                    <br /><p class="descargar"><a target="_blank" href="{{content.file.url}}">Descargar</a></p>
                {% endif %}                                                                
    </div>

    <div class="destacado_evento {% if is_past_event %}evento_pasado{% endif %}">
        {% if is_past_event %}
        
            {% if content.links.all or content.files.all%}        
                <h3>Descargas y enlaces</h3>
                <ul class="descargasyenlaces">
                    {% for ev_link in content.links.all %}
                        <li><a href="{{ev_link.link}}" target="_blank">{{ev_link.title}}</a></li>
                    {% endfor %}
                    {% for ev_file in content.files.all %}
                        <li><a href="{{ev_file.file.url}}" target="_blank">{{ev_file.title}}</a></li>
                    {% endfor %}                
                </ul>
            {% endif %}
            
            {% if content.images.all %}
                <h3>Fotografías</h3>
                <div class="listado_breves">
                    <ul>
                        {% for ev_image in content.images.all %}
                            <li>
                                <a href="{{ev_image.image.url}}" target="_blank"><img alt="{{ev_image.title}}" src="{{ ev_image.miniature.url }}"></a>
                            </li>                     
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
        {% else %}
            {% if assistant %}
                <h3>Usted está invitado a este evento.</h3>
                <p>Responder a la invitación:</p>
                <ul class="invitacion">
                    <li><a class="boton {% if assistant.status = '0' %}activo{% endif %}" href="{% url event content.slug %}?a=0&csrftoken={{csrf_simple_token}}"><span>Asistiré</span></a></li>
                    <li><a class="boton {% if assistant.status = '1' %}activo{% endif %}" href="{% url event content.slug %}?a=1&csrftoken={{csrf_simple_token}}"><span>No asistiré</span></a></li>
                </ul>
                {% if assistant.status == '0' %}
                    <div class="plaza_confirmada">
                        <p class="titulo"><strong>¡Su plaza está confirmada!</strong></p>
                        <p class="subtitulo">
                            {% blocktrans count how_many_assistants as num_assistantas %} Ha confirmado {{ num_assistantas }} persona de la comunidad. {% plural %} Han confirmado {{ num_assistantas }} personas de la comunidad.{% endblocktrans %}                                
                        </p>
                    </div>
                {% else %}
                    {% if assistant.status == '1' %}
                        <div class="plaza_confirmada">
                            <p class="titulo"><strong>Gracias.</strong></p>
                            <p class="subtitulo">
                                Esperamos verle en próximos eventos.
                            </p>                
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}            
    </div>    

</div>

<div class="contenido seccion_subhome seccion_eventos">
    <div class="programa">
        <h3 class="titulo_subhome">Programa</h3>
        <dl>
            <dt></dt>
            <dd>
            {% autoescape off %}{{ content.planning|linebreaksbr }}{% endautoescape %}
            </dd>
        </dl>
    </div>
    
    <div class="col_2">
        {% include "comments.html" %}

        <div class="col_secundaria">
            {% include "right_column_events.html" %}
        </div>
    </div>
</div>
    
{% endblock%}
