{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block extra_destacado_class %} destacado_video {% endblock %}

{% block texto_relacionados %}
    {% if related_items %}
        Encuentros digitales relacionados:
    {% endif %}
{% endblock %}

{% block sub_home%} {% endblock %}

{% block top_content %}

    <div class="foto">
        <img src="{{ content|friendly_content_image }}" alt="{{ content.short_description}}" />
    </div>
    <div class="destacado_cont">
        <div class="debate_abierto">
            <p class="titulo">Encuentro digital abierto por:</p>
            <p class="avatar">
                <img width="41" height="41" src="{{content.creator|friendly_avatar}}" alt="{{ content.creator|friendly_username }}" />
                <span class="usuario">{{ content.creator|friendly_username }}</span>
                <em>{{ content.creator.position }}</em>
            </p>
        </div>

        <p class="fecha">{{ content.creation_date }}</p>
        <p>{{ content.long_description|linebreaksbr }}</p>
        <p class="opina"><a href="#comment">¿Qué opina? Esperamos su opinión</a></p>
    </div>
                {% if content.file %}                                                      
                    <br /><p class="descargar"><a target="_blank" href="{{content.file.url}}">Descargar</a></p>
                {% endif %}                                                                

{% endblock %}
