{% extends "home.html" %}
{% load i18n %}
{% load fw_helper %}

{% block main_top %}
<div class="contenido contenido_subhome seccion_debates">
    <div class="destacado destacado_principal">
        {% if open_discussions %}
            <h2 class="destacado_titulo">
                <a href="{{open_discussions.0|url_for_type}}"><strong>{{open_discussions.0.title}}</strong></a>
                </h2>
            <div class="foto">
                <img alt="Descripcion" src="{{ open_discussions.0|friendly_content_image}}">
            </div>
            <div class="destacado_cont">
                <p>
                    {{open_discussions.0.long_description|linebreaksbr}}
                </p>
                {% if open_discussions.0.participants.all %}
                    <div class="participan">
                        <p><strong>Participan</strong></p>
                        <ul>
                            {% for participant in open_discussions.0.participants.all|slice:":4" %}
                            <li><img  width="32" height="32" src="{{participant.user|friendly_avatar}}" alt="{{participant.user|friendly_username}}" title="{{participant.user|friendly_username}}" /></li>
                            {% endfor %}                                    
                        </ul>
                        {% if open_discussions.0.participants.count > 4 %}
                            <p class="ymas">y {{open_discussions.0.participants.count|add:"-4"}} más</p>
                        {% endif %}                                
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="debates destacado_relacionada debates_relacionados">
        {% for discussion in open_discussions|slice:"1:" %}    
            <div class="destacado">
                <div class="foto">
                    <img alt="Descripcion" width="50" height="50" src="{{ discussion|friendly_content_miniature}}">
                </div>
                <h3 class="destacado_titulo"><a href="{{discussion|url_for_type}}">{{discussion.title}}</a></h3>
                <div class="destacado_cont">
                    <p>{{ discussion.short_description|slice:":150" }}{% if discussion.short_description|length > 150%}...{%endif%}</p>    
                </div>
                {% if participant in discussion.participants %}
                    <div class="participan">
                        <p><strong>Participan</strong></p>
                        <ul>
                            {% for participant in discussion.participants.all|slice:":4" %}
                            <li><img  width="32" height="32" src="{{participant.user|friendly_avatar}}" alt="{{participant.user|friendly_username}}" title="{{participant.user|friendly_username}}" /></li>
                            {% endfor %}                                    
                        </ul>
                        {% if discussion.participants.count > 4 %}
                            <p class="ymas">y {{discussion.participants.count|add:"-4"}} más</p>
                        {% endif %}                
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% include "portlet_related_content.html" %} 

<div class="contenido seccion_subhome seccion_eventos">
    <div class="seccion_subhome_cont">
        <h4 class="titulo_subhome">Encuentros digitales</h4>
        {%for month_discussions in closed_discussions_by_month %}
            <div class="modulo eventos">
                <h4 class="modulo_titulo"><strong>{% trans month_discussions.month_year.0|capfirst %}</strong> {{month_discussions.month_year.1}}</h4>
                <div class="modulo_cont">
                    <div class="listado_breves">
                        <ul>
                            {% for discussion in month_discussions.discussions.all %}
                            <li>
                                <a href="{{discussion|url_for_type}}">
                                    <img width="76" src="{{ discussion|friendly_content_image}}" alt="Descripcion">
                                </a>
                                <em class="fecha">{{ discussion.creation_date }}</em>
                                <a href="{{discussion|url_for_type}}">
                                    <strong>
                                        {{ discussion.title }}
                                    </strong>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div><!--modulo-->
        {% endfor %}
       {% if has_more %}
           <p class="articulos_ant"><a class="debates_anteriores" href="{% url ajax-list-discussions %}">Encuentros digitales anteriores</a></p>
       {% endif %}
    
    </div><!--seccion_eventos_cont-->
</div>

{% endblock%}
