{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block extra_destacado_class %} destacado_video {% endblock %}

{% block top_content %}
    
    <div class="video">
        <iframe title="YouTube video player" width="597" height="390" src="http://www.youtube.com/embed/{{content.video}}?wmode=transparent" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="destacado_cont">
        <p class="fecha">{{ content.creation_date }}</p>
        <p>{% autoescape off %}{{ content.long_description|linebreaksbr }}{% endautoescape %}</p>
    </div>
    <div class="destacado_meta {{ content_type }}">
        <p class="avatar">
            <img width="41" height="41" src="{{content.creator|friendly_avatar}}" alt="{{ content.creator|friendly_username }}" />
            <span class="usuario">{{ content.creator|friendly_username }}</span>
            <em>{{ content.creator.position }}</em>
        </p>
    </div>    
    
{% endblock %}
