{% extends "home.html" %}
{% load i18n %}
{% load fw_helper %}

{% block main_top %}
    
    {% if next_event %}
        <h2 class="titulo_evento">Próximo Evento</h2>
        <div class="contenido contenido_subhome seccion_subhome seccion_eventos">
            <div class="destacado destacado_principal">
                <div class="foto">
                    <img src="{{ next_event|friendly_content_image }}" alt="{{ next_event.short_description}}" />
                </div>
                <h2 class="destacado_titulo">
                    <a href="{{next_event|url_for_type}}"><strong>{{next_event.title}}</strong></a>
                </h2>
                <div class="destacado_cont">
                    <p>{{next_event.long_desciption}}</p>
                    <p class="fecha_evento"><strong>{{next_event.date}}. {{next_event.location}}</strong></p>
                </div>
            </div>

            <div class="destacado_meta destacado_evento">
                {% if assistant %}
                    <h3>Usted está invitado a este evento.</h3>
                    <p>Responder a la invitación:</p>
                    <ul class="invitacion">
                        <li><a class="boton {% if assistant.status = '0' %}activo{% endif %}" href="{% url event next_event.slug %}?a=0&csrftoken={{csrf_simple_token}}"><span>Asistiré</span></a></li>
                        <li><a class="boton {% if assistant.status = '1' %}activo{% endif %}" href="{% url event next_event.slug %}?a=1&csrftoken={{csrf_simple_token}}"><span>No asistiré</span></a></li>
                    </ul>
                    {% if assistant.status == '0' %}
                        <div class="plaza_confirmada">
                            <p class="titulo"><strong>¡Su plaza está confirmada!</strong></p>
                            <p class="subtitulo">
                                {% blocktrans count how_many_assistants as num_assistantas %} Ha confirmado {{ num_assistantas }} persona de la comunidad. {% plural %} Han confirmado {{ num_assistantas }} personas de la comunidad.{% endblocktrans %}                                
                            </p>
                        </div>
                    {% else %}
                        {% if assistant.status == '1' %}
                            <div class="plaza_confirmada">
                                <p class="titulo"><strong>Gracias.</strong></p>
                                <p class="subtitulo">
                                    Esperamos verle en próximos eventos.
                                </p>                
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %} 
                <div class="econ-calendar">
        		<table cellspacing="10" style="width: 100%;" >
        			<tbody>
        				<tr><th colspan="6" style="border-bottom: solid 1px #000; font-size: 12px;">Lunes <span>24 Septiembre</span></th></tr>
        				<tr>
        					<td width="53" class="tabl-country">Reino Unido</td>
        					<td width="130" class="tabl-date">Pensiones Iniciales de Desempleo</td>
        					<td width="30" align="center" class="tabl-month">WWW</td>
        					<td width="50" align="center"  class="tabl-units">millones EUR</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        				</tr>
        				<tr><th colspan="6" style="border-bottom: solid 1px #000; font-size: 12px;">Martes <span>24 Septiembre</span></th></tr>
        				<tr>
        					<td width="53" class="tabl-country">España</td>
        					<td width="130" class="tabl-date">Pensiones</td>
        					<td width="30" align="center" class="tabl-month">WWW</td>
        					<td width="50" align="center"  class="tabl-units">EUR</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        				</tr>
        				<tr><th colspan="6" style="border-bottom: solid 1px #000; font-size: 12px;">Miercoles <span>24 Septiembre</span></th></tr>
        				<tr>
        					<td width="53" class="tabl-country">Reino Unido</td>
        					<td width="130" class="tabl-date">Pensiones Iniciales de Desempleo</td>
        					<td width="30" align="center" class="tabl-month">WWW</td>
        					<td width="50" align="center"  class="tabl-units">millones EUR</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        				</tr>
        				<tr><th colspan="6" style="border-bottom: solid 1px #000; font-size: 12px;">Jueves <span>24 Septiembre</span></th></tr>
        				<tr>
        					<td width="53" class="tabl-country">Reino Unido</td>
        					<td width="130" class="tabl-date">Pensiones Iniciales de Desempleo</td>
        					<td width="30" align="center" class="tabl-month">WWW</td>
        					<td width="50" align="center"  class="tabl-units">millones EUR</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        				</tr>
        				<tr><th colspan="6" style="border-bottom: solid 1px #000; font-size: 12px;">Viernes <span>24 Septiembre</span></th></tr>
        				<tr>
        					<td width="53" class="tabl-country">Reino Unido</td>
        					<td width="130" class="tabl-date">Pensiones Iniciales de Desempleo</td>
        					<td width="30" align="center" class="tabl-month">WWW</td>
        					<td width="50" align="center"  class="tabl-units">millones EUR</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        					<td width="30" align="center" class="tabl-value">888%</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>          
            </div>
        </div><!--contenido_subhome-->
    {% endif %}
    <div class="contenido seccion_subhome seccion_eventos">
        <div class="seccion_subhome_cont">
            {% if next_events %}
            <div class="modulo eventos">
                <h4 class="modulo_titulo">Otros eventos futuros</h4>
                 {% for events_pair in paired_next_events %}
                    <div class="modulo_cont">         
                        {% for event in events_pair %}
                            <div class="destacado">
                                <div class="foto">
                                    <img width="76" height="76" src="{{ event|friendly_content_miniature}}" alt="{{ event.short_description}}" />
                                </div>
                                <h5 class="destacado_titulo"><a href="{{event|url_for_type}}"><strong>{{event.title}}</strong></a></h5>
                                <div class="destacado_cont">
                                    <p class="fecha">{{event.date}}</p>
                                    <p>{{event.short_description|slice:":150" }}{%if event.short_description|length > 150%}...{%endif%}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %} 
            </div><!--modulo-->            
            {% endif %}
            
            {% if old_events %}
            <div class="modulo eventos eventos_pasados">
                <h4 class="modulo_titulo">Eventos pasados</h4>
                <div class="modulo_cont">
                    {% for event in old_events %}
                        <div class="destacado">
                            <div class="foto">
                                <img width="100" height="100" src="{{ event|friendly_content_miniature}}" alt="{{ event.short_description}}" />
                            </div>
                            <h5 class="destacado_titulo"><a href="{{event|url_for_type}}"><strong>{{event.title}}</strong></a></h5>
                            <div class="destacado_cont">
                                <p class="fecha">{{event.date}}</p>
                                <p>{{event.short_description|slice:":150" }}{%if event.short_description|length > 150%}...{%endif%}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
               <!--  <div class="listado_eventos_pasados">
                    {% for event in old_events %}
                    <ul>
                        {% for ev_image in event.images.all|slice:":3" %}
                            <li>
                                {% if ev_image.image %}
                                    <a href="{{event|url_for_type}}" target="_blank">
                                        <img width="100" height="100" alt="{{ev_image.title}}" src="{{ ev_image.miniature.url }}">
                                    </a>
                                {% endif %}
                            </li>
                        {% empty %}
                            <li>
                                <a href="{{event|url_for_type}}" target="_blank">
                                    <img  width="100" height="100" src="{{ event|friendly_content_miniature}}" alt="{{ event.short_description}}" />
                                </a>
                            </li>
                        {% endfor %}                                                       
                    </ul>
                    {% endfor %}
                </div>
            </div><!--modulo-->

            

            {% endif %}
            
        </div><!--seccion_eventos_cont-->
        {% if has_more %}
                <p class="articulos_ant events_aft"><a class="eventos_anteriores" href="{% url ajax-list-events %}">Eventos anteriores</a></p>
        {% endif %}
    </div>


{% endblock %}
