{% extends "content.html" %}
{% load i18n %}

{% block specific_content %}
    {% if content.file %}
        <p class="descargar"><a target="_blank" href="{{content.file.url}}">Descargar</a></p>
    {% endif %}
{% endblock %}
