{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}
    <div class="contenido seccion_avisolegal">
        <div class="col_principal">
            <div class="pre_home_cont">
                <h2>Contacto</h2>
                <p>Para realizar consultas o resolver problemas relativos a esta página web puede ponerse en contacto con nosotros a través del buzón <a href="mailto:bbvafamilywealth@grupobbva.com">bbvafamilywealth@grupobbva.com</a></p>
            </div>
        </div>
    </div>
{% endblock%}
