{% extends "base.html" %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}
    <div class="contenido col_2">
        <div class="col_principal">
            <div class="pre_home_cont">
                <form method="POST" action="{% url create-user %}">    
                    {% csrf_token %}    
                    <div class="formulario form_2col">
                        <div class="form-row">
                            <div class="form-item">
                                <label for="txt_usuario">Nombre de usuario</label>
                                {{ form.username }}
                                {% for error in form.username.errors %}
                                    <p class="error_form">{{ error }}</p>
                                {% endfor %}                                
                            </div>
                            <div class="form-item">
                                <label for="txt_contras">Contraseña</label>
                                {{ form.password1 }}
                                {% for error in form.password1.errors %}
                                    <p class="error_form">{{ error }}</p>
                                {% endfor %}                                          
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-item">
                                <label for="txt_email">Correo electrónico</label>
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <p class="error_form">{{ error }}</p>
                                {% endfor %}                                     
                            </div>
                            <div class="form-item">
                                <label for="txt_contrasbis">Repetir contraseña</label>
                                {{ form.password2 }}
                                {% for error in form.password2.errors %}
                                    <p class="error_form">{{ error }}</p>
                                {% endfor %}                                       
                            </div>
                        </div>

                        <p class="botonera">
                            <label class="aceptarcondiciones" for="chk_aceptar">
                                {{ form.accept_conditions }}                                              
                                Acepto las <a target="_blank" href="{% url conditions %}">Condiciones del servicio</a>.
                            </label>
                            <input type="submit" value="Finalizar proceso" class="btn_enviar btn_super" tabindex=6/>
                        </p>

                        {% for error in form.accept_conditions.errors %}
                            <div class="error_form">{{ error }}</div>
                        {% endfor %}        
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


