{% load fw_helper %}
{% load i18n %}

{% if discussions_by_month %}
    {%for month_discussions in discussions_by_month %}
        <div class="modulo eventos">
            <h4 class="modulo_titulo"><strong>{% trans month_discussions.month_year.0|capfirst %}</strong> {{month_discussions.month_year.1}}</h4>
            <div class="modulo_cont">
                <div class="listado_breves">
                    <ul>
                        {% for discussion in month_discussions.discussions.all %}
                        <li>
                            <a href="{{discussion|url_for_type}}">
                                <img width="76" src="{{ discussion|friendly_content_miniature}}" alt="Descripcion">
                            </a>
                            <em class="fecha">{{ discussion.creation_date }}</em>
                                <a href="{{discussion|url_for_type}}">
                                    <strong>
                                        {{ discussion.title }}
                                    </strong>
                                </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!--modulo-->
    {% endfor %}
{% endif %}

{% if not has_more %}
    <script>    
        $('.debates_anteriores').remove();
        $('.articulos_ant').html("No hay más elementos");
    </script>
{% endif %}
