{% load fw_helper %}
{% load i18n %}

{% if category_by_month %}
    {%for month_articles in category_by_month %}
        <div class="modulo eventos">
            <h4 class="modulo_titulo"><strong>{% trans month_articles.month_year.0|capfirst %}</strong> {{month_articles.month_year.1}}</h4>
            <div class="modulo_cont">
                <div class="listado_breves">
                    <ul>
                        {% for article in month_articles.articles.all %}
                            <li>
                                <a href="{{article|url_for_type}}">
                                    <img width="76" src="{{ article|friendly_content_miniature}}" alt="Descripcion">
                                </a>
                                <em class="fecha">{{ article.creation_date }}</em>
                                <a href="{{article|url_for_type}}">
                                    <strong>
                                        {{ article.title|slice:":50" }}{% if article.title|length > 50%}...{%endif%}
                                    </strong>
                                </a>                            
                            </li>
                        {% endfor %}                                                        
                    </ul>
                </div>
            </div>
        </div><!--modulo-->            
    {% endfor %}
{% endif %}

{% if not has_more %}
    <script>    
        $('.categoria_anteriores').remove();
        $('.articulos_ant').html("No hay más elementos");
    </script>
{% endif %}        
