{% load fw_helper %}

{% if events %}
    <div class="modulo_cont">
        {% for event in events %}
            <div class="destacado">
                <div class="foto">
                    <img src="{{ event|friendly_content_miniature}}" alt="{{ event.short_description}}" />
                </div>
                <h5 class="destacado_titulo"><a href="{{event|url_for_type}}"><strong>{{event.title}}</strong></a></h5>
                <div class="destacado_cont">
                    <p class="fecha">{{event.date}}</p>
                    <p>{{event.short_description|slice:":150" }}{%if event.short_description|length > 150%}...{%endif%}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="listado_eventos_pasados">
        {% for event in events %}
        <ul>
            {% for ev_image in event.images.all %}
                <li>
                    {% if ev_image.miniature %}
                        <a href="{{event|url_for_type}}" target="_blank">
                            <img width="100" height="100" alt="{{ev_image.title}}" src="{{ ev_image.miniature.url }}">
                        </a>
                    {% endif %}
                </li>
            {% empty %}
                    <li>
                        <a href="{{event|url_for_type}}" target="_blank">
                            <img  width="100" height="100" src="{{ event|friendly_content_miniature}}" alt="{{ event.short_description}}" />
                        </a>
                    </li>
            {% endfor %}                                                       
        </ul>
        {% endfor %}
    </div>
{% endif %}

{% if not has_more %}
    <script>    
        $('.eventos_anteriores').remove();
        $('.articulos_ant').html("No hay más elementos");
    </script>
{% endif %}        
