{% load fw_helper %}

{% if articles %}
    <ul>    
        {% for article in articles %} 
            <li>
                <a href="{{article|url_for_type}}"><img width="76" height="76"  src="{{article|friendly_content_miniature}}" alt="Descripcion" /></a>
                <em class="fecha">{{article.creation_date}}</em>
                <a href="{{article|url_for_type}}"><strong>{{article.title|slice:":50"}}{%if article.title|length > 50%}...{%endif%}</strong></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if not has_more %}
    <script>    
        $('.articulos_anteriores').remove();
        $('.articulos_ant').html("No hay más elementos");
    </script>
{% endif %}    
