<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=1024">
<title>{% block title %} Family Wealth {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.8.10.custom.css" />
<link rel="stylesheet" type="text/css" href="/static/css/familywealth_fuentes.css" />
<link rel="stylesheet" type="text/css" href="/static/css/familywealth.css" />
<link rel="stylesheet" type="text/css" href="/static/css/extra.css" />
<link rel="stylesheet" type="text/css" href="/static/css/stylish-select.css" />

<script type="text/javascript" src="/static/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/static/js/familywealth_comunes.js"></script>
<script type="text/javascript" src="/static/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="/static/js/jquery.rating.pack.js"></script>
<script type="text/javascript" src="/static/js/jquery.stylish-select.js"></script>
<script type="text/javascript" src="/static/js/jquery.pajinate.min.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23130515-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#encuentros_page_container').pajinate({
            items_per_page : 6,
            item_container_id : '.avatar',
            nav_panel_id : '.encuentros_page_navigation',
            show_first_last: false,
            num_page_links_to_display: 0,
            nav_label_prev : 'Anterior',
            nav_label_next : 'Siguiente' 
            /*item_container_id : '.alt_content',
            nav_panel_id : '.encuentros_page_navigation'*/
        });
    }); 
</script>