{% extends "base.html" %}
{% load i18n %}
{% load tagging_tags %}
{% load fw_helper %}

{% block main_top %}
<div class="resumen abierto">
    <div class="resumen_detalle">
        <p class="titulo"><strong>Resumen</strong> de prensa {% now "d/m/ Y" %}</p>
        <div class="listado_breves">
            <ul>
                {% for external_entry in external_entries %}
                <li>
                    <a target="_blank" href="{{external_entry.link}}">
                        <img width="41" height="41" src="{{external_entry.source|friendly_content_miniature}}" alt="Descripcion" />
                    </a>
                    <a target="_blank" href="{{external_entry.link}}">
                         <strong>{{external_entry.title|slice:":40"}}{%if external_entry.title|length > 40%}...{%endif%}</strong>
                    </a>
                    <em class="meta">{{external_entry.source.title|slice:":100"}}{%if external_entry.source.title|length > 100%}...{%endif%}<span> {{external_entry.date|date_diff }}</span></em>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <p id="resumen_prensa" class="resumen_toggle">Resumen de prensa {% now "d/m/ Y" %} <a href="#" class="res_abrir">Abrir</a></p>
</div>
<script type="text/javascript">
    
</script>
<div class="contenido col_2">
    <div class="col_principal">
        {#% if video %#}
            <!--div class="destacado destacado_principal">
                <video width="584" height="438" poster="http://150.5.5.79:49800/video.mp4.jpg" autoplay controls loop>
                    <source src="http://195.57.30.5:49800/video.mp4.fs.mp4" type='video/mp4'>
                    <source src="http://195.57.30.5:49800/video.mp4.high.ogg" type='video/ogg'>
                    <source src="http://195.57.30.5:49800/video.mp4.webm" type='video/webm'>
                    <source src="http://150.5.5.79:49800/video.mp4.fs.mp4" type='video/mp4'>
                    <source src="http://150.5.5.79:49800/video.mp4.high.ogg" type='video/ogg'>
                    <source src="http://150.5.5.79:49800/video.mp4.webm" type='video/webm'>
                </video>
            </div-->
        {#% endif%#}
    
        {% if articles%}    
            <div class="destacado destacado_principal">
                <h2 class="destacado_titulo"><a href="{{articles.0|url_for_type}}"><strong>{{articles.0.title}}</strong></strong></a></h2>
                <div class="foto">
                    <img src="{{articles.0|friendly_content_image}}" alt="Descripcion" />
                </div>
                <div class="destacado_cont">
                    <p class="fecha">{{articles.0.creation_date}}</p>
                    <p>{% autoescape off %}{{articles.0.short_description|linebreaksbr}}{% endautoescape %}</p>
                    
                </div>
                <div class="destacado_meta">
                    <p class="avatar">
                        <img width="41" height="41" src="{{articles.0.creator|friendly_avatar}}" alt="{{articles.0.creator|friendly_username}}" />
                        <span class="usuario">{{articles.0.creator|friendly_username}}</span>
                        <em>{{articles.0.creator.position}}</em>
                    </p>
                    <dl class="meta_info">
                        {% if articles.0.category %}                       
                            <dt>Tema:</dt>
                            <dd><a href="{% url category articles.0.category.slug %}">{{articles.0.category}}</a></dd>
                        {% endif %}
                        
                        {% tags_for_object articles.0 as tag_list %}
                        {% if tag_list %}                        
                            <dt>Etiquetas:</dt>
                            <dd>                                
                                {% for tag in tag_list %}
                                    <a href="{% url search-tag tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}                                            
                                {% endfor %}                       
                            </dd>
                        {% endif %}
                    </dl>
                </div>                
            </div>
        {% endif %}
        
        {% for article in articles|slice:"1:4" %}        
            <div class="destacado">
                <h3 class="destacado_titulo"><a href="{{article|url_for_type}}"><strong>{{article.title}}</strong></a></h3>
                <div class="foto">
                    <img width="165" src="{{article|friendly_content_image}}" alt="Descripcion" />               
                    {% if not article.id in favourite_ids %}                    
                        <a href="{% url add-favourite article.slug %}?csrftoken={{csrf_simple_token}}" class="anadir_fav">Añadir a favoritos</a>
                    {% endif %}
                </div>
                <div class="destacado_cont">
                    <p class="fecha">{{article.creation_date}}</p>
                    <p>{{article.short_description}}</p>
                    <div class="destacado_meta">
                        <dl class="meta_info">
                            <dt>Publica:</dt>
                            <dd>{{article.creator|friendly_username}}, {{article.creator.position}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="listado_breves">
            <ul>
                {% for article in articles|slice:"4:10" %} 
                <li>
                    <a href="{{article|url_for_type}}"><img width="76" height="76"  src="{{article|friendly_content_miniature}}" alt="Descripcion" /></a>
                    <em class="fecha">{{article.creation_date}}</em>
                    <a href="{{article|url_for_type}}">
                        <strong>{{article.title|slice:":50"}}{%if article.title|length > 50%}...{%endif%}
                        </strong>
                    </a>                    
                </li>
                {% endfor %}
            </ul>
        </div>

       {% if has_more %}
            <p class="articulos_ant"><a class="articulos_anteriores" href="{% url ajax-list-articles %}">Artículos anteriores</a></p>
       {% endif %}
        
    </div>
    <div class="col_secundaria">
        <div class="hablamos">
            <h4 class="titulo"><a href="{% url speak %}">¿Hablamos?</a></h4>
            <p>Si necesita ayuda con cualquier duda o consulta, ponte en contacto con nosotros.</p>
        </div>
        <div class="box-banner">
        	<a href="http://blog.iese.edu/empresafamiliar/" target="blanck">
        		<img src="static/img/IESE_Bussines_school.jpg" alt="IESE_Bussines_school"/>
        	</a>
        </div>
        
        {% if next_event %}        
        <div class="modulo eventos">
            <h5 class="modulo_titulo">Próximo evento</h5>
            <div class="modulo_cont">
                <div class="destacado">
                    <h5 class="destacado_titulo"><a href="{{next_event|url_for_type}}">{{next_event.title}}</a></h5>
                    <div class="foto">
                        <img width="76" height="76" src="{{next_event|friendly_content_miniature}}" alt="Descripcion" />
                    </div>
                    <div class="destacado_cont">
                        <p class="fecha">{{next_event.date}}</p>
                        <p>{{next_event.short_description|slice:":150" }}{%if next_event.short_description|length > 150%}...{%endif%}</p>
                    </div>
                </div>
            </div>
        </div><!--modulo-->
        {% endif %}
        
        {% if next_discussion %}
        <div class="modulo debates">
            <h5 class="modulo_titulo">Último encuentro digital</h5>
            <div class="modulo_cont">
                
                    <div class="destacado">
                        <div class="foto">
                            <img width="50" height="50" src="{{next_discussion|friendly_content_miniature}}" alt="Descripcion" />
                        </div>
                        <h5 class="destacado_titulo"><a href="{% url discussion next_discussion.slug %}">{{next_discussion.title}}</a></h5>
                        <div class="destacado_cont">
                            <p>{{next_discussion.short_description|slice:":150" }}{%if next_discussion.short_description|length > 150%}...{%endif%}</p>
                        </div>
                        {% if next_discussion.participants.count > 0 %}
                            <div class="participan">
                                <p><strong>Participan</strong></p>
                                <ul>
                                    {% for participant in next_discussion.participants.all|slice:":4" %}
                                    <li>
                                        <img  width="32" height="32" src="{{participant.user|friendly_avatar}}" alt="{{participant.user|friendly_username}}" title="{{participant.user|friendly_username}}" />
                                    </li>
                                    {% endfor %}                                    
                                </ul>

                                {% if next_discussion.participants.count > 4 %}
                                    <p class="ymas">y {{next_discussion.participants.count|add:"-4"}} más</p>
                                {% endif %}
                                
                            </div>
                        {% endif %}
                        {% if next_discussion.comments.count > 0 %}
                            <div class="ultimas_aportaciones">
                                <p>Últimas aportaciones</p>
                                <ul>
                                    {% for comment in next_discussion.comments.all|slice:":3" %}
                                    <li>
                                        <a href="{% url discussion next_discussion.slug %}#{{comment.id}}" class="foto">
                                            <img width="41" height="41" src="{{comment.user|friendly_avatar}}" alt="{{comment.user|friendly_username}}" title="{{comment.user|friendly_username}}" />
                                        </a>
                                        <a href="{% url discussion next_discussion.slug %}#{{comment.id}}">{{comment.user|friendly_username}} comentó</a>
                                        "{{comment.text|slice:":50" }}{%if comment.text|length > 50%}...{%endif%}"                                        
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="botonera">
                            <ul>
                                <li><a href="{% url discussions %}">Ver más encuentros digitales</a></li>
                                <li><a href="{% url speak %}">Proponer un tema</a></li>
                            </ul>
                        </div>
                    </div>
                
            </div>
        </div><!--modulo-->
        {% endif %}
        
        {% include "portlet_ibex_generated.html" %}
        
        {% if users %}
            <div class="modulo encuentros">
                <h5 class="modulo_titulo">Con quién puede encontrarse</h5>
                <div id="encuentros_page_container" class="modulo_cont">
                    <ul class="avatar">
                        {% for user in users %}
                            <li>
                                <img  width="50" height="50" src="{{user|friendly_avatar}}" alt="{{user|friendly_username}}" />
                                <span class="usuario">{{user|friendly_username}}</span>
                                <em>{{user.position}}</em>                            
                            </li>
                        {% endfor %}

                    </ul>
                    <div id="nav_panel_id" class="encuentros_page_navigation"></div>
                </div>
            </div><!--modulo-->
        {% endif %}
    </div>
</div>
{% endblock %}
