{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Informe sobre los datos de FamilyWealth</h1>
    <table summary="Contenidos del portal" id='contenidos_portal'>
        <h2>Contenidos del portal</h2>
        <tbody>
            <tr>
                <th scope="row">Total de usuarios</th>
                <td>{{ num_of_users }}</td>
            </tr>
            <tr>
                <th scope="row">Total de articulos</th>
                <td>{{ num_of_articles }}</td>
            </tr>
            <tr>
                <th scope="row">Total de Encuentros digitales</th>
                <td>{{ num_of_discussions }}</td>
            </tr>
            <tr>
                <th scope="row">Total de eventos</th>
                <td>{{ num_of_events }}</td>
            </tr>
            <tr>
                <th scope="row">Categorias</th>
                <td>{{ categories }}</td>
            </tr>
            <tr>
                <th scope="row">Todos los boletines</th>
                <td>{{ total_newsletters }}</td>
            </tr>
            <tr>
                <th scope="row">Boletines enviados</th>
                <td>{{ total_newsletters_sended }}</td>
            </tr>
            <tr>
                <th scope="row">Total de invitaciones</th>
                <td>{{ total_invitations }}</td>
            </tr>
            <tr>
                <th scope="row">Invitaciones no utilizdas</th>
                <td>{{ unused_invitations }}</td>
            </tr>
        </tbody>
    </table>
    <table summary="Actividad de los usuarios." id='actividad_portal'>
        <h2>Actividad de los usuarios</h2>
        <tbody>
            <tr>
                <th scope="row">Total de valoraciones</th>
                <td>{{ num_of_valorations }}</td>
            </tr>
            <tr>
                <th scope="row">Valoración media</th>
                <td>{{ avg_valorations }}</td>
            </tr>
            <tr>
                <th scope="row">Total de comentarios</th>
                <td>{{ num_of_comments }}</td>
            </tr>
            <tr>
                <th scope="row">Total de usuarios que confirman su asistencia</th>
                <td>{{ total_confirmed_assistants }}</td>
            </tr>
            <tr>
                <th scope="row">Total de usuarios que confirman su NO asistencia</th>
                <td>{{ total_confirmed_not_assistants }}</td>
            </tr>
            <tr>
                <th scope="row">Total de favoritos de todos los usuarios</th>
                <td>{{ total_favorited_content }}</td>
            </tr>
            <tr>
                <th scope="row">Participantes en Encuentros digitales</th>
                <td>{{ total_discussions_participants }}</td>
            </tr>
            <tr>
                <th scope="row">Solicitudes de feedbak</th>
                <td>{{ feedbak_notifications }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
