{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block estra_global_classes%}pre_home{% endblock %}  

{% block main_top %}
    <div class="contenido seccion_avisolegal">
        <div class="col_principal">        
            <div class="pre_home_cont">
            	<!-- TITULO GENERADO EN EL ADMIN -->
            	<h2>{{ content.title }}</h2>
            	<!-- BUQLE PARA RECOGER LA INFORMACIÓN QUE SE GENERA DESDE EL ADMIN EL "CONTENIDO" -->
            {% for block in blocks %}
                <h2>{{ block.title }}</h2>
                <p>{{ block.content|safe }}<p>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
