{% extends "admin/base_site.html" %}
{% load i18n %}
{% load fw_helper %}

{% block content %}

<div class="contenido col_2">
    <div class="col_principal">
    <div class="destacado_cont">
    </div>
            <div class="destacado destacado_principal">
                    {% for dia in l reversed %}
                    <a href="/static/reports/{{ dia }}.html">Informe {{ dia }}</a><a href="/download/{{ dia }}.html">&nbsp;&nbsp;<img src="/static/images/excel.icon.png"></img></a><br />
                    {% endfor %}</table>
            </div>
    </div>
    <div class="col_secundaria">
        {% include "right_column_news.html" %}
        {% include "right_column_discussions.html" %}
        {% include "right_column_news_external_resume.html" %}
    </div>
</div>

{% endblock%}
