{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block main_top %}
    <div class="contenido seccion_avisolegal">
        <div class="col_principal">
            <div class="pre_home_cont">

                <h2>Aviso legal</h2>

                <p>BANCO BILBAO VIZCAYA ARGENTARIA S.A. (en adelante BBVA) ofrece a través de esta web información relacionada con todo tipo de sectores, mercados, activos, y, en términos generales, información de toda índole de interés para sus usuarios registrados.
                Con el acceso y registro en la web Usted acepta en su totalidad los términos y condiciones que regulan la presente web expresados en este documento, así como las establecidas en las Condiciones Generales de uso de la web. Los términos expresados en mayúscula tendrán la definición prevista en las Condiciones Generales.  </p>

                <p>(a) La información facilitada a través de esta web, debe ser considerada por el usuario a modo de introducción, sin que pueda estimarse como elemento determinante para la toma de decisiones, declinando BBVA toda responsabilidad por el uso que pueda verificarse de la misma en tal sentido, y de forma específica ha de entenderse que dicha información, sometida a la normativa vigente en España, no va destinada a aquellos usuarios que actúen bajo otras jurisdicciones de Estados que exijan el cumplimiento de requisitos distintos para la puesta a disposición, divulgación o publicidad de servicios y/o productos financieros.</p>

                <p>(b) BBVA se reserva el derecho a actualizar, modificar o eliminar la web, así como la información o contenidos recogidos en www.bbvafamilywealth.com, pudiendo incluso limitar o no permitir el acceso a dicha página web, sin previo aviso. Especialmente, BBVA se reserva el derecho a eliminar, limitar o impedir el acceso a la referida web en caso de incumplimiento de las Condiciones Generales de Uso y cuando surjan dificultades técnicas por hechos o circunstancias ajenos a BBVA que, a su criterio, disminuyan o anulen los niveles de seguridad estándares adoptados para el adecuado funcionamiento de dicho website.</p>

                <p>(c) En ningún caso BBVA será responsable de las pérdidas, daños o perjuicios de cualquier tipo que surjan por acceder y usar el website, incluyéndose, pero no limitándose, a los producidos en los sistemas informáticos o los provocados por la introducción de virus y/o ataques informáticos. BBVA tampoco será responsable de los daños que pudieran sufrir los usuarios por un uso inadecuado de este website y, en modo alguno, de las caídas, interrupciones, ausencia o defecto en las telecomunicaciones.</p>

                <p>(d) La información, documentación o contenidos a los que va a tener acceso a través de esta web se suministra solo con fines informativos y no constituye ni puede interpretarse como una oferta, invitación o incitación para la venta, compra o suscripción de valores, productos o servicios financieros u otras inversiones u activos cualesquiera que sea su naturaleza, ni su contenido constituirá base de ningún contrato, compromiso o decisión de cualquier tipo que en su caso, habrán de regirse por los correspondientes pactos  suscritos al efecto entre las partes. BBVA no se hace responsable de las opiniones, estimaciones, predicciones, recomendaciones o estrategias que se expresan a través de esta web, las cuáles pudieran sufrir cambios como consecuencia de distintas circunstancias, sin que BBVA u otras fuentes se obliguen a revisarlas y difundirlas en el caso que se produzcan cambios de estrategia, de intenciones o de acontecimientos no previstos que puedan afectar a las mismas.  </p>

                <p>Las valoraciones, opiniones, predicciones, estimaciones, estrategias, informes, tipología de valores, instrumentos o inversiones de distinta naturaleza que pueda contener la presente web en ningún caso conllevan que se esté prestando asesoramiento financiero, jurídico, contable, fiscal o de cualquier otro tipo y pueden no ser adecuadas para los inversores por razón de su especifica posición jurídica o financiera, su perfil de riesgo u objetivos de inversión, ya que no han sido tomadas en consideración sus circunstancias personales, por lo que debe adoptar sus propias decisiones de inversión teniendo en cuenta dichas circunstancias y procurándose el asesoramiento específico y especializado que pueda ser necesario. BBVA no asume responsabilidad alguna por cualquier pérdida, directa o indirecta, que pudiera resultar del uso de la información contenida en la presente web, ni se hace responsable del contenido de la información  elaborada por terceros ni de las consecuencias del uso que pudiera hacerse de ellas.</p>

                <p>(e) BBVA no responde de la veracidad, integridad o actualización de las informaciones, así como tampoco de las contenidas en otros websites mediante hiperenlace o vínculo desde www.bbvafamilywealth.com, facilitados al usuario, o incorporados por los propios usuarios registrados en www.bbvafamilywealth.com, como fuentes alternativas de información, que se regirán por los términos y condiciones de utilización que a tal efecto resulten exigibles por los titulares de dichos sitios web, por lo que BBVA no asume responsabilidad alguna en cuanto a hipotéticos perjuicios que pudieran originarse por el uso de las citadas informaciones. En ningún caso, los mencionados hiperenlaces serán considerados como recomendación, patrocinio, o distribución por parte de BBVA de la información, productos y/o servicios, o, en general, contenidos de titularidad de terceros, ofrecidos por éstos o en cualquier forma por los mismos divulgados. Asimismo, BBVA no asume como propias las opiniones expresadas en artículos firmados por terceros o vertidas por los usuarios del presente website.</p>

                <p>(f) La totalidad de este website, es decir, los elementos que lo componen (textos, imágenes, marcas, logotipos, archivos de audio, archivos de software, combinaciones de colores), así como la estructura, selección y orden de sus contenidos, se encuentran protegidos por la normativa de Propiedad Intelectual e Industrial y son titularidad de BBVA , teniendo contenidas las licencias necesarias para su utilización y no pudiendo ser objeto de explotación, reproducción, distribución, modificación, comunicación pública, cesión o transformación o cualquier otra forma de difusión no autorizada expresamente.</p>

                <p>El acceso a este website no otorga a los usuarios derecho, ni titularidad alguna sobre los derechos de propiedad intelectual y/o industrial de los contenidos que alberga este website. BBVA se reserva la posibilidad de ejercer las acciones legales que correspondan contra los usuarios que violen o infrinjan los derechos de propiedad intelectual y/o industrial.</p>

                <h2>Política de protección de datos personales</h2>
                
                <p>En BBVA garantizamos la protección de los datos de los Usuarios. La web  www.bbvafamilywealth.com, reconoce de modo automático los datos referentes a su identidad mediante la previa identificación y autenticación del usuario y clave de acceso en el sistema. Los datos registrados durante la participación activa de los usuarios son tratados con absoluta confidencialidad, siendo utilizados para las finalidades para las que han sido solicitados, en el marco de la Ley Orgánica de Protección de Datos de Carácter Personal y demás normas jurídicas concordantes.</p>

                <h2>Datos generales</h2>
                <p>BANCO BILBAO VIZCAYA ARGENTARIA S.A. con domicilio social en Plaza San Nicolas número 4, 48005 Bilbao (Vizcaya), teléfono 900 812625, e-mail de contacto: bbvafamilywealth@grupobbva.com</p>

                <h2>Inscripción en el Registro Mercantil</h2>
                <p>Inscrito en el Registro Mercantil de Vizcaya Tomo 2083, folio 1, Hoja BI-17ª, inscripción 1ª</p>

                <h2>Número de identificación fiscal</h2>
                <p>CIF A 48265169</p>
                
            </div>
        </div>
    </div>
{% endblock%}
