<table style="border: 1px solid;">
  <tr>
    <th style="border: 1px solid;">Usuario</th>
    <th style="border: 1px solid;">Email</th>
    <th style="border: 1px solid;">Fecha de alta</th>
    <th style="border: 1px solid;">&Uacute;ltimo login</th>
  </tr>
  {% for item in c %}
  <tr>
    <td style="border: 1px solid;">{{ item.0 }}</td>
    <td style="border: 1px solid;">{{ item.1 }}</td>
    <td style="border: 1px solid;">{{ item.2 }}</td>
    <td style="border: 1px solid;">{{ item.3 }}</td>
  </tr>
  {% endfor %}
</table>

