{% extends "auth.html" %}

{% block activation_block %}

<form method="POST" action="{% url register %}">   
    {% csrf_token %}      
    <div class="formulario">
        <div class="form-row con_boton">
            <label for="txt_codigo">Código de activación</label>
            {{invitation_form.code}}
            <input type="submit" class="btn_enviar btn_enviar_med" value="Regístrese">
            {% if used_code %}
                <p class="error_form">Este código ya fue utilizado</p>
            {% endif %}
            {% for error in invitation_form.code.errors %}
                <p class="error_form">{{ error }}</p>
            {% endfor %}                        
        </div>
    </div>
</form>
{% endblock%}

{% block right_auth_content%}
<form method="POST" action="{% url login %}">    
    <div class="formulario">
        {% csrf_token %}      
        <div class="form-row">
            {#<!--TODO: allow email login?-->#}
            <label for="txt_email">Email o usuario</label>
            {{ login_form.username }}

            {% for key,value in login_form.errors.items %}
                {% if key == "__all__" %}
                    {% for error in value %}
                        <p class="error_form">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}                   
            
            {% for error in login_form.username.errors %}
                <p class="error_form">{{ error }}</p>
            {% endfor %}            
        </div>
        <div class="login_form-row">
            <label for="txt_contras">Contraseña</label>
            {{ login_form.password }}
            {% for error in login_form.password.errors %}
                <p class="error_login_form">{{ error }}</p>
            {% endfor %}
        </div>
        <p class="recuerdame"><label for="remember_me"><input type="checkbox" id="remember_me" name="remember_me"> Recuérdame</label></p>
        <p class="olvido"><a href="{% url password_reset %}">¿Ha olvidado su contraseña?</a></p>
        <p class="botonera">
            <input type="submit" class="btn_enviar btn_peq" value="Entrar">
            <input type="hidden" name="next" value="{{ next }}" />                            
        </p>
    </div>
</form>
{% endblock %}
