{% load fw_helper %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>200 Newsletter</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel="stylesheet" type="text/css" href="css/familywealth_fuentes.css" />
    </head>
	<body>
	<div style="background:#fff;text-align:center;font-family:arial,verdana,sans-serif;font-size:11px;">
	<font face="Arial,verdana,sans-serif" size="2" color="#4A4A4D">
		<table cellpadding="0" cellspacing="0" width="725" align="center" style="text-align:left;margin:auto" border="0">
			<tr>
				<td colspan="3"><img src="{{BASE_HOST}}/static/img/newsletter_filete.gif" alt="" width="725"></td>	
			</tr>
			<tr>
				<td width="33"><img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="33" height="1"></td>
				<td width="332" align="left">
					<table cellpadding="0" cellspacing="0" width="692" align="left" border="0">
						<tr>
							<td align="left">
								<a href="{{BASE_HOST}}"><img src="{{BASE_HOST}}/static/img/bbva_logo.gif" alt="BBVA Banca Privada" vspace="20" border="0"></a><br>
								<font face="StagSansLight,arial,sans-serif" size="6" style="font-size:38px" color="#4A4A4D">The Family Wealth Community</font><br>
							</td>
						</tr>
					</table>
				</td>
				<td width="270"></td>
			</tr>
			<tr>
				<td colspan="3">
					<img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="30">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<img src="{{BASE_HOST}}/static/img/newsletter_bg.gif" width="692" alt="" height="19">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="30">
				</td>
			</tr>
			
			
			
			
			
			
			
			<tr>
				<td width="33"><img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="33" height="1"></td>
				<td width="332">
					<table cellpadding="0" cellspacing="0" width="692" align="center" border="0">
                        <tr>
                            <td colspan="3">
                                <font face="StagSansBook,arial,sans-serif" size="4" style="font-size:22px" color="#4A4A4D">Selección de artículos</font>
                            </td>
                        </tr>
                        {% for article in newsletter.articles.all %}       
                            <tr>
                                <td colspan="3">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="10">
                                </td>
                            </tr>
                            <tr>
                                <td width="157" valign="top">
                                    <img src="{{BASE_HOST}}/{{article|friendly_content_image}}" alt="">
                                </td>
                                <td width="20">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="20" height="1">
                                </td>
                                <td valign="top" align="left">
                                    <a href="{{BASE_HOST}}/{{article|url_for_type}}" style="text-decoration:none"><font face="StagSansLight,arial,sans-serif" size="4" style="font-size:26px" color="#004D94" style="text-decoration:none">
                                    	{{article.title}}</font></a><br>
                                    <font face="arial,helvetica,sans-serif" size="2" style="font-size:12px" color="#4A4A4D">{{article.short_description}}</font><br>
                                </td>
                            </tr>
                            
                        {% endfor %}
                        
                        
                        <tr>
                            <td colspan="3">
                                <img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="15">
                            </td>
                        </tr>						
                        <tr>
                            <td colspan="3">
                                <font face="StagSansBook,arial,sans-serif" size="4" style="font-size:22px" color="#4A4A4D">Debates recientes</font>
                            </td>
                        </tr>
                        
                        {% for discussion in newsletter.discussions.all %}       
                            <tr>
                                <td colspan="3">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="10">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <a href="{{BASE_HOST}}/{{discussion|url_for_type}}" style="text-decoration:none"><font face="StagSansLight,arial,sans-serif" size="4" style="font-size:26px" color="#004D94" style="text-decoration:none">{{discussion.title}}</font></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="10">
                                </td>
                            </tr>
                            <tr>
                                <td width="157" valign="top">
                                    <img src="{{BASE_HOST}}/{{discussion|friendly_content_image}}" alt="">
                                </td>
                                <td width="20">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="20" height="1">
                                </td>
                                <td valign="top" align="left">
                                    <font face="arial,helvetica,sans-serif" size="2" style="font-size:12px" color="#4A4A4D">{{discussion.short_description}}</font><br>
                                    <table cellpadding="0" cellspacing="0" width="200" vspace="7">
                                        <tr>
                                            <td colspan="3"><a href="{{BASE_HOST}}/{{discussion|url_for_type}}" style="text-decoration:none"><font face="Arial,sans-serif" size="1" style="font-size:12px" color="#0099cc" style="text-decoration:none">Esperamos su opinión...</font></a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="1" height="10"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><font face="StagSansBook,arial,sans-serif" size="4" style="font-size:12px" color="#000000">Debate abierto por:</font></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="1" height="5"></td>
                                        </tr>
                                        <tr>
                                            <td width="41"><img src="{{discussion.creator|friendly_avatar}}" alt="" width="41" height="41"></td>
                                            <td width="5"><img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="5" height="1"></td>
                                            <td valign="top" align="left">
                                                <font face="Arial,sans-serif" size="1" style="font-size:12px;font-weight:bold" color="#004D94" style="text-decoration:none"><strong>{{discussion.creator|friendly_username}}</strong></font><br>
                                                <font face="Arial,sans-serif" size="1" style="font-size:12px;" color="#919494" style="text-decoration:none">{{discussion.position}}</font>
                                            </td>
									</tr>
								</table>
							</td>
						</tr>
                        {% endfor %}
                        
                        
                        <tr>
                        <tr>
                            <td colspan="3">
                                <img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="15">
                            </td>
                        </tr>
                        	<tr>
                            <td colspan="3">
                                <font face="StagSansBook,arial,sans-serif" size="4" style="font-size:22px" color="#4A4A4D">Próximo Evento</font>
                            </td>
                        </tr>
                    
                        {% for event in newsletter.events.all %}                    
                            <tr>
                                <td colspan="3">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="20">
                                </td>
                            </tr>
                            <tr>
                                <td width="157" valign="top">
                                    <img src="{{BASE_HOST}}/{{event|friendly_content_image}}" alt="">
                                </td>
                                <td width="20">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" alt="" width="20" height="1">
                                </td>
                                <td valign="top" align="left">
                                    <a href="{{BASE_HOST}}/{{event|url_for_type}}" style="text-decoration:none"><font face="StagSansLight,arial,sans-serif" size="4" style="font-size:26px" color="#004D94" style="text-decoration:none">
                                    {{event.title}}</font></a><br>
                                    <font face="arial,helvetica,sans-serif" size="2" style="font-size:12px" color="#4A4A4D">{{event.short_description}}</font><br>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="30">
                                </td>
                            </tr>
                        {% endfor %}
							<td colspan="3">
								<img src="{{BASE_HOST}}/static/img/spacer.gif" width="1" alt="" height="40">
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<table cellpadding="0" cellspacing="0" border="0" width="725">
									<tr>
										<td bgcolor="#004D94" width="24"><img src="{{BASE_HOST}}/static/img/newsletter_pieleft.gif" width="24" height="48"></td>
										<td bgcolor="#004D94" width="260">
											<font face="arial,sans-serif" size="1" color="#ffffff" style="font-size:12px">©2011 BBVA. Todos los derechos reservados.</font>
										</td>
										<td bgcolor="#004D94" align="right">
											
											<font face="arial,sans-serif" size="1" style="font-size:12px">
												<a href="{% url contact %}" style="color:#fff;text-decoration:none"><font color="#ffffff">Contacto</font></a>
												<img src="{{BASE_HOST}}/static/img/newsletter_pieborde.gif">
												<a href="{% url about %}" style="color:#fff;text-decoration:none"><font color="#ffffff">Sobre Family Wealth</font></a>
												<img src="{{BASE_HOST}}/static/img/newsletter_pieborde.gif">
												<a href="{% url legal %}" style="color:#fff;text-decoration:none"><font color="#ffffff">Aviso legal</font></a>
												<img src="{{BASE_HOST}}/static/img/newsletter_pieborde.gif">
												<a href="{% url conditions %}" style="color:#fff;text-decoration:none"><font color="#ffffff">Condiciones del servicio</font></a>
											</font>
											
										</td>
										<td bgcolor="#004D94" width="24" align="right"><img src="{{BASE_HOST}}/static/img/newsletter_pieright.gif" width="24" height="48"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
				<td width="270"></td>
			</tr>
		</table>
	</font>
	</div>
	
	
	</body>
</html>
