{% extends "auth.html" %}
{% load i18n %}

{% block right_auth_content%}
    <div class="gracias">
        <h2>Muchas gracias</h2>
        <p>Su contraseña ha sido restablecida...</p>
        <p class="olvido"><a href="{% url home %}">Ir a la Home de Family Wealth</a></p>
    </div>
{% endblock %}
