{% extends "auth.html" %}

{% block right_auth_content%}
    <div class="gracias">
        <h2>Muchas gracias</h2>
        <p>Le hemos enviado un email para restablecer su contraseña</p>
    </div>
{% endblock %}
