{% extends "auth.html" %}

{% block right_auth_content%}
<form method="POST" action="{% url password_reset %}">    
    <div class="formulario">
        {% csrf_token %}                
        <div class="form-row">
            <label for="txt_contras">Email</label>
            {% if form.email.errors %}
                {% for error in form.email.errors%}
                    <p class="error_form">{{ error }}</p>
                {% endfor %}
            {% endif %}            
            {{form.email}}
        </div>
        <p class="olvido"><a href="{% url home %}">Volver</a></p>
        <p class="botonera">
            <input type="submit" value="Recordar contraseña" class="btn_enviar btn_super" />
        </p>
    </div>
</form>
{% endblock %}
