{% extends "auth.html" %}
{% load i18n %}

{% block right_auth_content%}

        {% if validlink %}

            <form method="POST" action="">
                {% csrf_token %} 
                <div class="formulario">
                    <div class="form-row">
                        <label for="txt_contras">Contraseña</label>
                        {% for error in form.new_password1.errors %}
                            <p class="error_form">{{ error }}</p>
                        {% endfor %}
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-row">
                        <label for="txt_contras">Repetir contraseña</label>
                        {% for error in form.new_password2.errors %}
                            <p class="error_form">{{ error }}</p>
                        {% endfor %}
                        {{ form.new_password2 }}
                    </div>
                    <p class="botonera"><input type="submit" value="Finalizar" class="btn_enviar btn_enviar_med" /></p>
                </div>
            </form>

        {% else %}
            <div class="gracias">
                <h2>Error reseteando la contraseña.</h2>
                <p>El enlace para resetear la contraseña era inválido, probablemente ya fue usado. Por favor, solicítelo de nuevo.</p>

            </div>
        {% endif %}

{% endblock %}
