<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    {% include "head.html" %}
</head>

{% if reload_parent %}
    <script>
        window.parent.location.reload();
    </script>
{% else %}
    <body class="popup">
        <div class="ui-dialog perfil_actualizarperfil">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="formulario">
                    <div class="form-row">
                        <label for="txt_usuario">Usuario</label>
                        {% if profile_form.username.errors %}
                            {% for error in profile_form.username.errors%}
                                <p class="error_form">{{ error }}</p>
                            {% endfor %}
                        {% endif %}                                
                        {{ profile_form.username }}
                    </div>
                    <div class="form-row">
                        <label for="txt_cargo">Cargo o descripción</label>
                        {% if profile_form.position.errors %}
                            {% for error in profile_form.position.errors%}
                                <p class="error_form">{{ error }}</p>
                            {% endfor %}
                        {% endif %}                                

                        {{ profile_form.position }}
                    </div>
                    <div class="form-row">
                        <label for="txt_email">Email</label>
                        {% if profile_form.email.errors %}
                            {% for error in profile_form.email.errors%}
                                <p class="error_form">{{ error }}</p>
                            {% endfor %}
                        {% endif %}                                

                        {{ profile_form.email }}
                    </div>
                    <div class="form-row">
                        <label for="txt_contras">Contraseña</label>
                        {% if profile_form.password1.errors %}
                            {% for error in profile_form.password1.errors%}
                                <p class="error_form">{{ error }}</p>
                            {% endfor %}
                        {% endif %}                                

                        {{ profile_form.password1 }}
                    </div>
                    <div class="form-row">
                        <label for="txt_contrasbis">Repetir contraseña</label>
                        {% if profile_form.password2.errors %}
                            {% for error in profile_form.password2.errors%}
                                <p class="error_form">{{ error }}</p>
                            {% endfor %}
                        {% endif %}                                

                        {{ profile_form.password2 }}
                    </div>
                    <p class="boletines">
                        <label for="chk_recibir">
                            {% if profile_form.newsletter.errors %}
                                {% for error in profile_form.newsletter.errors%}
                                    <p class="error_form">{{ error }}</p>
                                {% endfor %}
                            {% endif %}                                

                            {{ profile_form.newsletter }}
                            Recibir boletines informativos
                        </label>
                    </p>
                    <p class="botonera"><input type="submit" value="Actualizar" class="btn_enviar" /></p>
                </div>
            </form>
        </div>
    </body>
{% endif %}
</html>

