<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    {% include "head.html" %}
</head>

{% if reload_parent %}
    <script>
        window.parent.location.reload();
    </script>
{% else %}
    <body class="popup">

        <div class="ui-dialog perfil_avatar">

            <h2 class="titulo_generico">
                Elija una imagen 
            </h2>
            <div class="listado_breves">
                <ul>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_01.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_01.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_02.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_02.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_03.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_03.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_04.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_04.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_05.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_05.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_06.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_06.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_07.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_07.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_08.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_08.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_09.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_09.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_10.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_10.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_11.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_11.jpg"></a>
                    </li>
                    <li>
                        <a href="{% url set-avatar %}?csrftoken={{csrf_simple_token}}&url={{BASE_HOST}}/static/img/avatar_12.jpg"><img alt="Descripcion" src="{{BASE_HOST}}/static/img/avatar_12.jpg"></a>
                    </li>
                </ul>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}            
                <div class="formulario">
                
                    {% if not is_ipad %}
                        <div class="form-row inputFileiOS">
                            <h3 class="titulo_generico">...o cargue una imagen desde su ordenador...</h3>
                            <label for="file_img" class="oculto">Seleccione imagen</label>
                            {% for error in form.image.errors%}
                                <p class="error_form">{{ error }}</p>
                            {% endfor %}
                            {{ form.image }}
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <h3 class="titulo_generico">...o desde una dirección web</h3>
                        <label for="txt_url" class="oculto">Introduzca la url</label>
                        {% for error in form.image_url.errors%}
                            <p class="error_form">{{ error }}</p>
                        {% endfor %}                        
                        {{ form.image_url }}
                        <input type="submit" value="Actualizar" class="btn_enviar" />
                    </div>
                </div>
            </form>        
        
        </div>
    </body>
{% endif %}
</html>

