<div class="modulo mercados">
    <h5 class="modulo_titulo">Mercados</h5>
    <div class="modulo_cont">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="indice">Índice</th>
                    <th class="cotizacion">Cotización</th>
                    <th class="var">Var. %</th>
                    <th class="hora">Hora</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_up.gif" alt="Sube" />
                            PSI-20
                        </td>
                        <td class="cotizacion">5979.520</td>
                        <td class="var"><span class="positivo">1.85</span></td>
                        <td class="hora">15:23</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_up.gif" alt="Sube" />
                            IBEX 35
                        </td>
                        <td class="cotizacion">8543.400</td>
                        <td class="var"><span class="positivo">1.07</span></td>
                        <td class="hora">15:23</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_up.gif" alt="Sube" />
                            STOXX 50
                        </td>
                        <td class="cotizacion">2654.180</td>
                        <td class="var"><span class="positivo">0.54</span></td>
                        <td class="hora">15:23</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_up.gif" alt="Sube" />
                            DAX
                        </td>
                        <td class="cotizacion">7713.280</td>
                        <td class="var"><span class="positivo">0.23</span></td>
                        <td class="hora">15:23</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_up.gif" alt="Sube" />
                            CAC 40
                        </td>
                        <td class="cotizacion">3711.600</td>
                        <td class="var"><span class="positivo">0.15</span></td>
                        <td class="hora">15:23</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_up.gif" alt="Sube" />
                            EURONEXT 100
                        </td>
                        <td class="cotizacion">692.490</td>
                        <td class="var"><span class="positivo">0.14</span></td>
                        <td class="hora">15:23</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_down.gif" alt="Sube" />
                            DOW JONES
                        </td>
                        <td class="cotizacion">13328.850</td>
                        <td class="var"><span class="negativo">0.00</span></td>
                        <td class="hora">22:04</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_down.gif" alt="Sube" />
                            NASDAQ 100
                        </td>
                        <td class="cotizacion">2718.720</td>
                        <td class="var"><span class="negativo">0.00</span></td>
                        <td class="hora">23:16</td>
                    </tr>
                
                    <tr>
                        <td class="indice">
                            <img src="/static/img/cotiz_down.gif" alt="Sube" />
                            IPSA CHILE
                        </td>
                        <td class="cotizacion">4404.720</td>
                        <td class="var"><span class="negativo">-0.03</span></td>
                        <td class="hora">15:38</td>
                    </tr>
                
            </tbody>
        </table>
        <p class="masinfo">Más información sobre <a href="http://www.actibva.com/mercados" target="_blank">Mercados en Actibva</a></p>
    </div>
</div><!--modulo-->
