<div class="contenido contenido_relacionado">
    <div class="listado_breves">
        <ul>
            <li>
                <a href="{% url discussions %}"><img alt="Descripcion" src="/static/img/listado_01.jpg"></a>
                <a href="{% url discussions %}"><strong>Le proponemos un encuentro digital ¿Participa?</strong></a>
                <p>En el espacio de encuentro digital encontrará temas de actualidad que generan controversia, ¿nos da su opinión?</p>
            </li>
            <li>
                <a href="{% url speak %}"><img alt="Descripcion" src="/static/img/listado_02.jpg"></a>
                <a href="{% url speak %}"><strong>Proponga un tema o un encuentro digital</strong></a>
                <p>Si cree que la comunidad debería debatir un tema concreto, haga una propuesta de encuentro digital.</p>
            </li>
            <li>
                <a href="{% url speak %}"><img alt="Descripcion" src="/static/img/listado_03.jpg"></a>
                <a href="{% url speak %}"><strong>¿Le podemos ayudar?</strong></a>
                <p>¿Necesita asesoramiento? ¿Tiene alguna inquietud? Póngase en contacto con nosotros y buscaremos la solución más adecuada.</p>
            </li>
        </ul>
    </div>
</div>
