<div class="submenu" style="display: none;">
    <ul>
        {% for cat in categories_1 %}
            <li>
                <a href="{% url category cat.slug %}">{{ cat.title }}</a>
                <em>{{ cat.description }}</em>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for cat in categories_2 %}
            <li>
                <a href="{% url category cat.slug %}">{{ cat.title }}</a>
                <em>{{ cat.description }}</em>
            </li>
        {% endfor %}
    </ul>
    
    <ul class="last">
        {% for cat in categories_3 %}
            <li>
                <a href="{% url category cat.slug %}">{{ cat.title }}</a>
                <em>{{ cat.description }}</em>
            </li>
        {% endfor %}
    </ul>    

</div>
