<div class="modulo mercados">
    <h5 class="modulo_titulo">Mercados</h5>
    <div class="modulo_cont">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="indice">Índice</th>
                    <th class="cotizacion">Cotización</th>
                    <th class="var">Var. %</th>
                    <th class="hora">Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for node in nodes %}
                    <tr>
                        <td class="indice">
                            <img src="{% if  node.DXC > 0 %}/static/img/cotiz_up.gif{% else %}/static/img/cotiz_down.gif{% endif %}" alt="Sube" />
                            {{ node.NOM }}
                        </td>
                        <td class="cotizacion">{{ node.ULT|floatformat:3 }}</td>
                        <td class="var"><span class="{% if  node.DXC > 0 %}positivo{% else %}negativo{% endif %}">{{ node.DXC|floatformat:2 }}</span></td>
                        <td class="hora">{{node.HOR}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="masinfo">Más información sobre <a href="http://www.actibva.com/mercados" target="_blank">Mercados en Actibva</a></p>
    </div>
</div><!--modulo-->
