{% extends "profile.html" %}
{% load fw_helper %}

{% block profile_main_block %}
    
    {% for participant in user.participants.all %}   
        <div class="destacado">
            <div class="foto">
                <img width="76" src="{{participant.discussion.creator|friendly_avatar}}" alt="Descripcion" />
            </div>
            <div class="destacado_cont">
                <p class="fecha">{{participant.discussion.creation_date}}</p>
                <h4 class="destacado_titulo">
                    <a href="{{participant.discussion|url_for_type}}">{{participant.discussion.title}}</a>
                </h4>
            </div>
            <p class="eliminar"><a href="#">Eliminar</a></p>
        </div>    
    {% endfor %}
{% endblock %}       
