{% extends "profile.html" %}
{% load fw_helper %}

{% block profile_main_block %}
    {% for notification in user.notifications.all %}
        <div class="destacado">
            <div class="foto">
                <img width="76" src="{{notification.content.creator|friendly_avatar}}" alt="Descripcion" />
            </div>
            <div class="destacado_cont">
                <p class="fecha">{{notification.content.creation_date}}</p>
                <h4 class="destacado_titulo">
                    <a href="{{notification.content|url_for_type}}">{{notification.content.title}}</a>
                </h4>
            </div>
            <p class="eliminar"><a href="{% url delete-notification notification.id %}?csrftoken={{csrf_simple_token}}">Eliminar</a></p>
        </div>
    {% endfor %}
{% endblock %}       
