{% extends "profile.html" %}
{% load fw_helper %}

{% block profile_main_block %}
    {% for comment in user.comments.all %}
        <div class="destacado">
            <div class="foto">
                <img width="76" src="{{comment.content.creator|friendly_avatar}}" alt="Descripcion" />
            </div>
            <div class="destacado_cont">
                <p class="fecha">{{comment.content.creation_date}}</p>
                <h4 class="destacado_titulo">
                    <a href="{{comment.content|url_for_type}}#{{comment.id}}">{{comment.text|slice:":100"}}{% if comment.text|length > 100 %}...{% endif %}</a>
                </h4>
            </div>
            <p class="eliminar"><a href="{% url delete-comment comment.id %}?csrftoken={{csrf_simple_token}}">Eliminar</a></p>
        </div>
    {% endfor %}
{% endblock %}       
