{% extends "base.html" %}
{% load fw_helper %}

{% block main_top %}
    <div class="contenido col_3 seccion_miperfil">
        <h2 class="titulo_generico titulo_perfil">Mi perfil</h2>
        <div class="col_agrup">
            <div class="col_menu">
                <div class="menu">
                    <ul>
                        <li class="{% ifequal profile_section "favourites" %}activo{% endifequal %}">
                            <a href="{% url profile-favourites %}">Mis favoritos</a>
                        </li>
                        <li class="{% ifequal profile_section "valorations" %}activo{% endifequal %}">
                            <a href="{% url profile-valorations %}">Mis valoraciones</a>
                        </li>
<!--
                        <li class="{% ifequal profile_section "discussions" %}activo{% endifequal %}">
                            <a href="{% url profile-discussions %}">Mis debates</a>
                        </li>
                        <li class="{% ifequal profile_section "events" %}activo{% endifequal %}">
                            <a href="{% url profile-events %}">Mis eventos</a>
                        </li>
-->

                        <li class="{% ifequal profile_section "comments" %}activo{% endifequal %}">
                            <a href="{% url profile-comments %}">Mis comentarios</a>
                        </li>

                        <li class="{% ifequal profile_section "notifications" %}activo{% endifequal %}">
                            <a href="{% url profile-notifications %}">Mis notificaciones</a>
                        </li>
                    </ul>
                </div>
            </div>
                        
            <div class="col_principal">
                <div class="mi_perfil">
                    {% block profile_main_block %}
                    {% endblock %}                    
                </div>
            </div>
        </div><!--col_agrup-->
        <div class="col_secundaria">
            <div class="modulo perfildeusuario">
                <h5 class="modulo_titulo">Perfil de usuario</h5>
                <div class="modulo_cont">
                    <ul>
                        <li class="avatar_detalle" style="background:url('{{user|friendly_avatar}}') no-repeat 50% 30%; ">
                            <!--<img src="{{user|friendly_avatar}}" alt="Avatar" />-->
                            <a href="{% url popup-avatar %}" class="perfil"><span>Cambiar</span></a>
                        </li>
                        <li class="perfil_detalle">
                            <div>{{user|friendly_username}}</div>
                            <div>{{user.position}}</div>
                            <div>{{user.email}}</div>
                            <div><strong>Recibir boletines informativos:</strong> {% if user.newsletter %}Sí{% else %}No{% endif %}</div>
                            <a href="{% url popup-profile %}" class="editarperfil"><span>Cambiar</span></a>
                        </li>
                    </ul>
                </div>
            </div><!--modulo-->
        </div>
    </div>

{% endblock %}		

