{% extends "profile.html" %}
{% load fw_helper %}

{% block profile_main_block %}
    {% for valoration in user.valorations.all %}
        <div class="destacado">
            <div class="foto">
                <img width="76" src="{{valoration.content.creator|friendly_avatar}}" alt="Descripcion" />
            </div>
            <div class="destacado_cont">
                <p class="fecha">{{valoration.content.creation_date}}</p>
                <h4 class="destacado_titulo">
                    <a href="{{valoration.content|url_for_type}}">{{valoration.content.title}}</a>

                    <form name="frm_valoracion{{valoration.id}}" action="" method="POST" id="frm_valoracion{{valoration.id}}">
                        <input class="star start{{valoration.id}}" type="radio" name="test-1-rating-5" value="1" {% if valoration.value == 1%}checked="checked"{% endif %}/>
                        <input class="star start{{valoration.id}}" type="radio" name="test-1-rating-5" value="2" {% if valoration.value == 2%}checked="checked"{% endif %}/>
                        <input class="star start{{valoration.id}}" type="radio" name="test-1-rating-5" value="3" {% if valoration.value == 3%}checked="checked"{% endif %}/>
                        <input class="star start{{valoration.id}}" type="radio" name="test-1-rating-5" value="4" {% if valoration.value == 4%}checked="checked"{% endif %}/>

                        <input class="star" type="radio" name="test-1-rating-5" value="5" {% if valoration.value == 5%}checked="checked"{% endif %}/>
                        <script type="text/javascript">
                            /*Valoration - http://www.fyneworks.com/jquery/star-rating/ */
                            $('.star').rating({
                                callback: function(value, link){
                                    $.ajax({
                                        type: "POST",
                                        url: "/content/ajax/valoration/{{valoration.content.slug}}/"+value+"/", 
                                        data: {csrf: "{{csrf_simple_token}}" },
                                        success: function() {
                                            $('#frm_valoracion{{valoration.id}}').append("<span id='mensajevotacion{{valoration.id}}'></span>");
                                            $('#mensajevotacion{{valoration.id}}').html("Voto enviado")
                                            .hide()
                                            .fadeIn(1000);
                                            $('.start{{valoration.id}}').rating('disable') 
                                        }
                                    });
                                    return false;                             
                                    //insertar aquí el submit del formulario
                                }
                            });
                        </script>
                    </form>                    
                    
                </h4>
            </div>
            <p class="eliminar"><a href="{% url delete-valoration valoration.id %}?csrftoken={{csrf_simple_token}}">Eliminar</a></p>
        </div>
    {% endfor %}
{% endblock %}       
