{% extends "profile.html" %}
{% load fw_helper %}

{% block profile_main_block %}
    {% for favourite in user.favourites.all %}
        <div class="destacado">
            <div class="foto">
                <img width="76" src="{{favourite.content.creator|friendly_avatar}}" alt="Descripcion" />
            </div>
            <div class="destacado_cont">
                <p class="fecha">{{favourite.content.creation_date}}</p>
                <h4 class="destacado_titulo">
                    <a href="{{favourite.content|url_for_type}}">{{favourite.content.title}}</a>
                </h4>
            </div>
            <p class="eliminar"><a href="{% url delete-favourite favourite.id %}?csrftoken={{csrf_simple_token}}">Eliminar</a></p>
        </div>
    {% endfor %}
{% endblock %}       
