{% extends "profile.html" %}
{% load fw_helper %}

{% block profile_main_block %}
    
    {% for assistant in user.assistants.all %}   
        <div class="destacado">
            <div class="foto">
                <img width="76" src="{{assistant.event.creator|friendly_avatar}}" alt="Descripcion" />
            </div>
            <div class="destacado_cont">
                <p class="fecha">{{assistant.event.date}}</p>
                <h4 class="destacado_titulo">
                    <a href="{{assistant.event|url_for_type}}">{{assistant.event.title}}</a>
                </h4>
            </div>
            <p class="eliminar"><a href="#">Eliminar</a></p>
        </div>    
    {% endfor %}
{% endblock %}       
