{% load i18n %}
{% load tagging_tags %}
{% load fw_helper %}

<div class="modulo noticiasrelevantes">
    {% if other_contents %}
        <h5 class="modulo_titulo">Otras noticias relevantes</h5>
        <div class="modulo_cont">
            {% for other_content in other_contents%}
            <div class="destacado">
                <h5 class="destacado_titulo"><a href="{{other_content|url_for_type}}">{{other_content.title}}</a></h5>
                <div class="destacado_cont">
                    <p>{{other_content.short_description|slice:":150" }}{%if other_content.short_description|length > 150%}...{%endif%}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div><!--modulo-->
