{% load i18n %}
{% load fw_helper %}

{% if related_events %}
    <div class="modulo destacadosimple">
        <h5 class="modulo_titulo">
            Eventos similares
        </h5>
        <div class="modulo_cont">
            {% for event in related_events %}
            <div class="destacado">
                <div class="foto">
                    <img width="76" src="{{ event|friendly_content_image }}" alt="Descripcion">
                </div>
                <div class="destacado_cont">
                    <h5 class="destacado_titulo"><a href="{{event|url_for_type}}">{{ event.title}}</a></h5>
                    <p class="fecha">{{ event.date }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
