{% load i18n %}
{% load tagging_tags %}
{% load fw_helper %}

{% if open_discussions %}
    <div class="modulo debates">
        <h5 class="modulo_titulo">Encuentros digitales abiertos</h5>
        <div class="modulo_cont">
            {% for discussion in open_discussions %}
                <div class="destacado dest_nofoto">
                    <h5 class="destacado_titulo"><a href="{% url discussion discussion.slug %}">{{ discussion.title }}</a></h5>
                    <div class="destacado_cont">
                        <p>{{ discussion.short_description|slice:":150" }}{% if discussion.short_description|length > 150%}...{%endif%}</p>
                    </div>
                    <div class="participan">
                        {% if discussion.participants.count > 0 %}
                            <p><strong>Participan</strong></p>
                            <ul>
                                {% for participant in discussion.participants.all|slice:":3" %}
                                <li><img  width="32" height="32" src="{{participant.user|friendly_avatar}}" alt="{{participant.user|friendly_username}}" title="{{participant.user|friendly_username}}" /></li>
                                {% endfor %}
                            </ul>
                            {% if discussion.participants.count > 3 %}
                                <p class="ymas">y {{discussion.participants.count|add:"-3"}} más</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>                    
            {% endfor %}                    
        </div>
    </div><!--modulo-->
{% endif %}
