{% load i18n %}
{% load tagging_tags %}
{% load fw_helper %}

{% if external_entries %}
    <div class="modulo resumenprensa">
        <h5 class="modulo_titulo">Resumen de prensa de hoy</h5>
        <div class="modulo_cont">
            <div class="listado_breves">
                <ul>
                    {% for external_entry in external_entries %}
                    <li>
                        <a target="_blank" href="{{external_entry.link}}">
                            <img  width="41" height="41" src="{{external_entry.source|friendly_content_miniature}}" alt="Descripcion" />
                        </a>
                        <a target="_blank" href="{{external_entry.link}}"><strong>{{external_entry.title}}</strong></a>
                        <em class="meta">{{external_entry.source.title}}<span> {{external_entry.date|date_diff }}</span></em>
                    </li>
                    {% endfor %}                        
                </ul>
            </div>
        </div>
    </div><!--modulo-->
{% endif %}
