{% extends "search_results.html" %}
{% load i18n %}
{% load fw_helper %}

{% block results %}
    <div class="resultado">
        <h3 class="titulobusqueda">
            {{total_events}} resultados en <strong>Eventos</strong> 
        </h3>
        {% for event in event_results %}
            <div class="destacado">

                <div class="foto">
                    <img width="76" src="{{event|friendly_content_image}}" alt="Descripcion" />
                </div>
                <div class="destacado_cont">
                    <h4 class="destacado_titulo">
                        <a href="{{event|url_for_type}}"><strong>{{event.title}}</strong></a>
                    </h4>                        
                    <p class="fecha">{{event.date}}</p>
                    <p>{{event.short_description|slice:":150" }}{%if event.short_description|length > 150%}...{%endif%}</p>
                </div>
            </div>
        {% endfor %}
    </div>    
{% endblock %}
