{% extends "search_results.html" %}
{% load i18n %}
{% load fw_helper %}

{% block results %}
    <div class="resultado resultado_comentarios">
        <h3 class="titulobusqueda">
            {{total_comments}} resultados en <strong>Comentarios</strong> 
        </h3>
        {% for comment in comment_results %}
            <div class="destacado">
                <div class="foto">
                    <img width="76" src="{{comment.user|friendly_avatar}}" alt="Descripcion" />
                </div>
                <div class="destacado_cont">
                    <h4 class="destacado_titulo">
                        <a href="{{ comment.content|url_for_type}}#{{comment.id}}">{{comment.user|friendly_username}} comentó</a>:
                    </h4>                        
                    <p>{{comment.text|slice:":150" }}{%if comment.text|length > 150%}...{%endif%}</p>
                </div>
            </div>
        {% endfor %}
    </div>   
{% endblock %}
