{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block main_top %}
<div class="contenido col_3">
    <div class="col_agrup">
        <h2 class="titulo_generico">Resultados de la búsqueda <strong>"{{search_text}}"</strong></h2>
        <div class="col_menu">
            <div class="menu">
                <ul>
                    <li {% ifequal search_section "total" %}class="activo" {% endifequal %}>
                        {% if search_tag %}
                            <a href="{% url search-tag search_tag.slug %}">
                        {% else %}
                            <a href="{% url search %}?search={{search_text}}">
                        {% endif %}
                        Todos<span>{{total}}</span></a>
                    </li>
                    <li {% ifequal search_section "article" %}class="activo" {% endifequal %}>
                        {% if search_tag %}
                            <a href="{% url search-articles-tag search_tag.slug %}">
                        {% else %}
                            <a href="{% url search-articles %}?search={{search_text}}">
                        {% endif %}                        
                        
                        Noticias<span>{{total_articles}}</span></a>
                    </li>
                    <li {% ifequal search_section "discussion" %}class="activo" {% endifequal %}>
                        {% if search_tag %}
                            <a href="{% url search-discussions-tag search_tag.slug %}">
                        {% else %}
                            <a href="{% url search-discussions %}?search={{search_text}}">
                        {% endif %}                        
                        Encuentros digitales<span>{{total_discussions}}</span></a>
                    </li>                    
                    <li {% ifequal search_section "event" %}class="activo" {% endifequal %}>
                        
                        {% if search_tag %}
                            <a href="{% url search-events-tag search_tag.slug %}">
                        {% else %}
                            <a href="{% url search-events %}?search={{search_text}}">
                        {% endif %}                        
                        Encuentros digitales<span>{{total_events}}</span></a>
                    </li>
                    {% if not search_tag %}
                        <li {% ifequal search_section "comment" %}class="activo" {% endifequal %}>                        
                            {% if search_tag %}
                                <a href="{% url search-comments-tag search_tag.slug %}">
                            {% else %}
                                <a href="{% url search-comments %}?search={{search_text}}">
                            {% endif %}                        
                            Comentarios<span>{{total_comments}}</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col_principal">
            <div class="resultadosbusqueda">
                {% block results %}
                    <div class="resultado">
                        <h3 class="titulobusqueda">
                            {{total_articles}} resultados en <strong>Noticias</strong> 
                            
                            {% if search_tag %}
                                <a class="vertodo" href="{% url search-articles-tag search_tag.slug %}">Ver todo</a>
                            {% else %}
                                <a class="vertodo" href="{% url search-articles %}?search={{search_text}}">Ver todo</a>
                            {% endif %}        
                            
                        </h3>
                        {% for article in article_results|slice:":3" %}
                            <div class="destacado">

                                <div class="foto">
                                    <img width="76" src="{{article|friendly_content_image}}" alt="Descripcion" />
                                </div>
                                <div class="destacado_cont">
                                    <h4 class="destacado_titulo">
                                        <a href="{{article|url_for_type}}"><strong>{{article.title}}</strong></a>
                                    </h4>                        
                                    <p class="fecha">{{article.creation_date}}</p>
                                    <p>{{article.short_description|slice:":150" }}{%if article.short_description|length > 150%}...{%endif%}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="resultado">
                        <h3 class="titulobusqueda">
                            {{total_discussions}} resultados en <strong>Encuentros digitales</strong> 

                            {% if search_tag %}
                                <a class="vertodo" href="{% url search-discussions-tag search_tag.slug %}">Ver todo</a>
                            {% else %}
                                <a class="vertodo" href="{% url search-discussions %}?search={{search_text}}">Ver todo</a>
                            {% endif %}                               
                            
                        </h3>
                        {% for discussion in discussion_results|slice:":3" %}
                            <div class="destacado">

                                <div class="foto">
                                    <img width="76" src="{{discussion|friendly_content_image}}" alt="Descripcion" />
                                </div>
                                <div class="destacado_cont">
                                    <h4 class="destacado_titulo">
                                        <a href="{{discussion|url_for_type}}"><strong>{{discussion.title}}</strong></a>
                                    </h4>                        
                                    <p class="fecha">{{discussion.creation_date}}</p>
                                    <p>{{discussion.short_description|slice:":150" }}{%if discussion.short_description|length > 150%}...{%endif%}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>   

                    <div class="resultado">
                        <h3 class="titulobusqueda">
                            {{total_events}} resultados en <strong>Eventos</strong> 

                            {% if search_tag %}
                                <a class="vertodo" href="{% url search-events-tag search_tag.slug %}">Ver todo</a>
                            {% else %}
                                <a class="vertodo" href="{% url search-events %}?search={{search_text}}">Ver todo</a>
                            {% endif %}                                    
                            
                        </h3>
                        {% for event in event_results|slice:":3" %}
                            <div class="destacado">

                                <div class="foto">
                                    <img width="76" src="{{event|friendly_content_image}}" alt="Descripcion" />
                                </div>
                                <div class="destacado_cont">
                                    <h4 class="destacado_titulo">
                                        <a href="{{event|url_for_type}}"><strong>{{event.title}}</strong></a>
                                    </h4>                        
                                    <p class="fecha">{{event.date}}</p>
                                    <p>{{event.short_description|slice:":150" }}{%if event.short_description|length > 150%}...{%endif%}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>               

                    {% if not search_tag %}
                        <div class="resultado resultado_comentarios">
                            <h3 class="titulobusqueda">
                                {{total_comments}} resultados en <strong>Comentarios</strong> 

                                {% if search_tag %}
                                    <a class="vertodo" href="{% url search-comments-tag search_tag.slug %}">Ver todo</a>
                                {% else %}
                                    <a class="vertodo" href="{% url search-comments %}?search={{search_text}}">Ver todo</a>
                                {% endif %}                                    
                                
                            </h3>
                            {% for comment in comment_results|slice:":3" %}
                                <div class="destacado">
                                    <div class="foto">
                                        <img width="76" src="{{comment.user|friendly_avatar}}" alt="Descripcion" />
                                    </div>
                                    <div class="destacado_cont">
                                        <h4 class="destacado_titulo">
                                            <a href="{{ comment.content|url_for_type}}#{{comment.id}}">{{comment.user|friendly_username}} comentó</a>:
                                        </h4>                        
                                        <p>{{comment.text|slice:":150" }}{%if comment.text|length > 150%}...{%endif%}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>   
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div><!--col_agrup-->

    <div class="col_secundaria">
        {% include "right_column_news.html" %}        
        {% include "right_column_discussions.html" %}        
        {% include "right_column_news_external_resume.html" %}        
    </div>
</div>
{% endblock%}
