{% extends "search_results.html" %}
{% load i18n %}
{% load fw_helper %}

{% block results %}
    <div class="resultado">
        <h3 class="titulobusqueda">
            {{total_discussions}} resultados en <strong>Encuentros digitales</strong> 
        </h3>
        {% for discussion in discussion_results %}
            <div class="destacado">

                <div class="foto">
                    <img width="76" src="{{discussion|friendly_content_image}}" alt="Descripcion" />
                </div>
                <div class="destacado_cont">
                    <h4 class="destacado_titulo">
                        <a href="{{discussion|url_for_type}}"><strong>{{discussion.title}}</strong></a>
                    </h4>                        
                    <p class="fecha">{{discussion.creation_date}}</p>
                    <p>{{discussion.short_description|slice:":150" }}{%if discussion.short_description|length > 150%}...{%endif%}</p>
                </div>
            </div>
        {% endfor %}
    </div>   
{% endblock %}
