{% extends "search_results.html" %}
{% load i18n %}
{% load fw_helper %}

{% block results %}
    <div class="resultado">
        <h3 class="titulobusqueda">
            {{total_articles}} resultados en <strong>Noticias</strong> 
        </h3>
        {% for article in article_results %}
            <div class="destacado">

                <div class="foto">
                    <img width="76" src="{{article|friendly_content_image}}" alt="Descripcion" />
                </div>
                <div class="destacado_cont">
                    <h4 class="destacado_titulo">
                        <a href="{{article|url_for_type}}"><strong>{{article.title}}</strong></a>
                    </h4>                        
                    <p class="fecha">{{article.creation_date}}</p>
                    <p>{{article.short_description|slice:":150" }}{%if article.short_description|length > 150%}...{%endif%}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
