{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block main_top %}

<div class="contenido col_2">
    <div class="col_principal">
        <div class="seccion_hablamos">
            <h2 class="titulo_generico">¿Tiene alguna inquietud? Hablamos...</h2>
            <p class="intro_hablamos">Desde Family Wealth de BBVA Patrimonios ponemos a su disposición a especialistas en los distintos temas planteados en la Comunidad, quienes se pondrán en contacto con usted para resolverle cualquier duda, comentario o sugerencia.</p>
            <div class="formulario comentario_escribir">
                <form method="POST" action="{{ current_url }}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-item">
                            <label for="sel_ayudar">
                                <span class="label_txt">¿En qué podemos ayudarle?</span>
                                {{ form.reason.errors }}                            
                                {{ form.reason }}
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label for="txt_comentario">
                                <span class="label_txt">Consulta:</span>
                                {{ form.text.errors }}
                                {{ form.text }}                            
                            </label>
                        </div>
                    </div>
                    <p class="botonera"><input type="submit" value="Comentar"></p>
                </form>
            </div>
            <h3 class="titulo_generico">¿Cuestiones relativas a sus inversiones o productos BBVA?</h3>
            <p class="intro_hablamos">Para consultas y operaciones concretas sobre su inversión póngase en contacto con su <strong>gestor habitual de BBVA Patrimonios </strong>o llame por teléfono a la línea de atención telefónica de BBVA Banca Privada <strong>900 81 26 25</strong>.</p>
        </div>
    </div>
    <div class="col_secundaria">
        {% include "right_column_news.html" %}        
        {% include "right_column_discussions.html" %}        
        {% include "right_column_news_external_resume.html" %}        
    </div>
</div>

{% endblock%}
