{% extends "base.html" %}

{% block estra_global_classes%}pre_home{% endblock %}

{% block toplinks %}{% endblock %}
{% block topmenu %}{% endblock %}

{% block main_top %}
    <div class="contenido col_2">
        <div class="col_principal">
            <div class="pre_home_cont">
                <form action="{% url home %}">
                    <p class="mailenviado">Bienvenido. Le hemos enviado un email de confirmación a <strong>{{ user.email }}</strong></p>
                       
                    <input type="submit" class="btn_enviar btn_super" value="Aceptar">                    
                </form>
            </div>
        </div>
    </div>		
{% endblock %}


