{% extends "content.html" %}
{% load i18n %}
{% load fw_helper %}

{% block main_top %}

<div class="contenido col_2">
    <div class="col_principal">
    <div class="destacado_cont">
    </div>
            <div class="destacado destacado_principal">
                <br /><p style="font-size: 1.3em;color: #4a4a4d;font-weight:bold">The Family Wealth Community es la primera comunidad exclusiva y privada para clientes de Banca Privada.</p><br />
        <p style="font-size: 1.3em;color: #4a4a4d;">Un punto de encuentro y foro de conocimiento único en España, en que se intercambian opiniones y contenidos en todas aquellas áreas que le preocupan: economía, visión de mercado, novedades fiscales, dónde invertir, qué opinan los gurús más influyentes, tendencias de mercado, regulación, filantropía, entre otras.</p>
        <p style="font-size: 1.3em;color: #4a4a4d;">Le queremos presentar este vídeo para que conozca todo lo que The Family Wealth Community le puede ofrecer para entender todo lo que ocurre a su alrededor:</p>
                <video width="584" height="438" poster="/static/img/p1.png" noautoplay controls loop>
                    <source src="http://195.57.30.5:8800/v1.mp4" type='video/mp4'>
                    <source src="http://195.57.30.5:8800/v1.webm" type='video/webm'>
                    <source src="http://150.5.5.83:8800/v1.mp4" type='video/mp4'>
                    <source src="http://150.5.5.83:8800/v1.webm" type='video/webm'>
                </video>
                <br /><br /><br /><br /><p style="font-size: 1.3em;color: #4a4a4d;"><b>Jaime Sáenz de Tejada, responsable de BBVA para España y Portugal, quiere darle la bienvenida a esta Comunidad</b>, que se enmarca "dentro de la decidida apuesta de BBVA por la innovación, el uso de las nuevas tecnologías, la multicanalidad y los nuevos soportes digitales que permiten una mayor cercanía con nuestros clientes".</p>
                <br /><br /><br /><br /><br /><br /><video width="584" height="438" poster="/static/img/p2.png" noautoplay controls loop>
                    <source src="http://195.57.30.5:8800/v2.webm" type='video/webm'>
                    <source src="http://195.57.30.5:8800/v2.mp4" type='video/mp4'>
                    <source src="http://195.57.30.5:8800/v2.ogv" type='video/ogg'>
                    <source src="http://150.5.5.83:8800/v2.webm" type='video/webm'>
                    <source src="http://150.5.5.83:8800/v2.mp4" type='video/mp4'>
                    <source src="http://150.5.5.83:8800/v2.ogv" type='video/ogg'>
                </video>
            </div>
    </div>
    <div class="col_secundaria">
        {% include "right_column_news.html" %}
        {% include "right_column_discussions.html" %}
        {% include "right_column_news_external_resume.html" %}
    </div>
</div>

{% endblock%}
