{% load fw_helper %}
<br/>
Nuevo contenido en Family Wealth: <br/> <br/>

El usuario {{ comment.user|friendly_username}} añadió en 
<a href="{{ BASE_HOST }}{{ comment.content|url_for_type}}#{{comment.id}}"> {{ comment.content.title }}</a> : <br/>
<br/>
>> {{ comment.text }}
