{% load fw_helper %}
<br/>
Hay nuevo feedback en el portal: <br/><br/>

Usuario: 
{% if feedback_notifitacion.user %}
    {{feedback_notifitacion.user|friendly_username}}
{% else %}
    anónimo
{% endif %}
<br/>
<br/>
Motivo: {{ reason }}
<br/>
<br/>
Texto: {{ feedback_notifitacion.text }}
<br/>
<br/>
Puede consultarlo en: <a href="{{ BASE_HOST }}/admin/familywealth/feedbacknotificacion/{{ feedback_notifitacion.id }}/">{{ BASE_HOST }}/admin/familywealth/feedbacknotificacion/{{ feedback_notifitacion.id }}/</a>


